// Tree
.nav-tabs.nav-stacked > li[data-type='tree'] {
	div {
		border: 1px solid #ddd;
		padding: 8px 12px 8px 0;
		a {
			padding-left: 12px;
		}
	}

	i{
		background: transparent url(@siteSpritePath) no-repeat;

		&.icon-chevron-down {
			background-position: 1px -14px;
		}

		&.icon-chevron-right {
			background-position: 3px -29px;
		}
	}

	// rounded bottom border fix
	&:last-child > div.expandable{
		border-radius: 0 0 4px 4px;

		&.is-last-item{
			border-radius: 0;
		}
	}

	&:last-child li:last-child a:last-child {
		border-bottom: 1px solid #ddd !important;
		border-radius: 0 0 4px 4px !important;
	}
	
	
}

.nav-tabs.nav-stacked > li[data-type='tree'] div:hover,
.nav-tabs.nav-stacked > li[data-type='tree'] div:focus {
	background-color: #eeeeee;
	border-color: #ddd;
	z-index: 2;
	cursor: pointer;
}

.nav-tabs.nav-stacked > li[data-type='tree'] div > a:hover,
.nav-tabs.nav-stacked > li[data-type='tree'] div > a:focus {
	text-decoration: none;
}

.nav-tabs.nav-stacked > li[data-type='tree'] ul.nav {
	margin-bottom: 1px;
}

.nav-tabs > li[data-type='tree'] li > a {
	border-radius: 0 !important; 
}

.nav-tabs > li[data-type='tree'] li:last-child > a{
	border-bottom: 0;
}

// Active state, and it's :hover/:focus to override normal :hover/:focus
.nav-tabs > li[data-type="tree"].active li.tree-active > a,
.nav-tabs > li[data-type="tree"].active li.tree-active:hover > a,
.nav-tabs > li[data-type="tree"].active li.tree-active:focus > a {
	color: @gray;
	background-color: inherit;
	cursor: default;
}

// Active state, and it's :hover/:focus to override normal :hover/:focus
.nav-tabs > li[data-type="tree"].active > div,
.nav-tabs > li[data-type="tree"].active > div:hover,
.nav-tabs > li[data-type="tree"].active > div:focus {
	a {
		color: @gray;
	}
	background-color: @bodyBackground;
}

// Active state, and it's :hover/:focus to override normal :hover/:focus
.nav-tabs > li[data-type="tree"].active li.tree-active > div > a,
.nav-tabs > li[data-type="tree"].active li.tree-active > div:hover > a,
.nav-tabs > li[data-type="tree"].active li.tree-active > div:focus > a {
	color: @gray;
}

@sublevels: 10;
@base_background: #ffffff;
@base_padding: 12;

.tree-sublevel (@index) when (@index > 0) {
	.tree-level-@{index} {
		background-color: darken(@base_background, @index*5);
		> li > a,
		> li > div > a{
			padding-left: @base_padding+@index*20px !important;
		}
	}

	// next iteration
	.tree-sublevel(@index - 1);
}

.tree-sublevel (@sublevels);

.nav-tabs > li[data-type="tree"] li{
	margin-top: -1px;
}
