// .tt-u {
// 	text-transform: uppercase;
// }

// .payment-table {
// 	margin-bottom: @baseLineHeight;

// 	.input-prepend .add-on {
// 		padding: 4px 5px;
// 	}
// }

// .underlined {
// 	border-bottom: 1px solid #fff;
// }

.translateY(@distance: 50%) {
	-webkit-transform: translateY(@distance);
	-moz-transform: translateY(@distance);
	-ms-transform: translateY(@distance);
	transform: translateY(@distance);
}

.payment-confirmation-tick-container {
	font-size: 4em;
	line-height: 1em;
}

.payment-confirmation-greeting-container {
	margin-top: 0;
}

.payment-confirmation-body-container {
	margin-bottom: 0;
}

.payment-total-width {
	width:100%;
}

.payment-next-button {
	display:none;
	@media (max-width: 767px) {
		display: block;
		margin-bottom: 0px;

		button {
			margin-bottom: 0px !important;
		}		
	}
}

[data-to-last="0"] .payment-next-button {
	@media (max-width: 767px) {
		display: none;
	}
}

.payment-select-another-credit-card-button {
	position: absolute;
	bottom: 15px;
	right: 10px;
	border: 1px solid;
	background-color: #FFF;
}

.payment-due-with-discount {
	font-weight:bold;
}

.payment-summary-payment-total {
	margin-bottom: 0;
}

.payment-credit-memo-total-title {
	padding-left: 50px;
}

.payment-deposit-total-title {
	padding-left: 50px;
}

.payment-invoice-review-selection-container {
	margin-right: 15px;
}


.payment-add-new-credit-card-button {
	background: #f5f5f5;
	margin: 20px 0 0;
	padding: 20px;
}

.payment-credit-card-conatiner {
	background: #f5f5f5; 
	margin: 20px 0 0;
	padding: 20px;
	position: relative;
}

.payment-edit-credit-card-container {
	position: absolute;
	top: 15px;
	right: 10px;
}

.payment-edit-credit-card-icon {
	margin-right: 10px;
}

.payment-show-total-container {
	margin-bottom: 0;

	@media (max-width: 767px) {
		.span8 {
			float: left;
			width: auto;
		}
	}
}

.payment-table-header {
	background: #e5e5e5;
	margin-bottom: 0;
	padding: 5px 0;
	text-indent: 18px;
}

.payment-table-footer {
	background: #e5e5e5;
	// color: #fff;
	margin-top: @baseLineHeight;
	padding: @baseLineHeight / 2;
	padding-left: 20px;
}

input.amountToPayInput{
	background:#FFFFCC;
	width:120px;
}

.payment-table-row {
	border-bottom: #ccc 1px solid;
	display: block;
	padding: @baseLineHeight / 2;
	position: relative;
	transition: 0.2s;

	&:hover {
		background-color: #F5f5f5;
	}

	&.active {
		background-color: #e9e9e9;
	}

	&.selectable {

		@media (max-width: 767px) {
	
			[class*="span"] {
				float: left;
				min-height: 1px;
				margin-left: 2.127659574468085%;
				width: 82.97872340425532%;

				&:first-child {
					margin-left: 0;
				}
			}

			.span1 {
				width: 6.382978723404255%;
			}

			.offset-xs-1 {
				margin-left: 8.51063829787234%;
			}
		}
	}

	.icon-chevron-right {
		position: absolute;
		right: 9px;
		top: 50%;
		.translateY(-50%);
	}

	.duedate {
		font-weight: bold;
		color: red;
	}

	.visible-phone {

		@media (max-width: 767px) {
			display: inline-block !important;
		}
	}

	p {
		margin-bottom: 0;
	}
}

a.payment-table-row {

	@media (max-width: 767px) {
		padding-right: 25px;
	}
}

.paymentwizard-module-invoice .payment-table-row.selectable {

	@media (max-width: 767px) {

		[class*="span"] {
			width: 91.48936170212765%;
		}

		.span1 {
			width: 6.382978723404255%;
		}
	}
}

.edit-amount-to-pay {
	@media (max-width: 767px) {
		[class*="span"] {
			float: left;
			width: 50%;
		}

		.span8 {
			padding: 10px;
		}
	}
}