.main-container {
  background-color: white;

  section#main-content {
    width: 90%;
    margin: 20px auto;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: @font-dark-red;
    }

    a {
      color: @font-dark-red;
      text-decoration: none;
    }

    form {
      label.control-label {
        font-weight: bold;
      }
    }
  }
}

form {
  div.control-group label.control-label {
    font-weight: bold;
  }
}
