.group:before,
.group:after {
  content: '';
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}
.inline-block {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.inline-block-important {
  display: inline-block !important;
  *display: inline !important;
  zoom: 1 !important;
}
a {
  color: #80040b;
}
a:hover,
a:focus {
  color: #BB0610;
  text-decoration: none;
}
.lead-price {
  color: #80040b;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background: #BB0610;
}
.btn-primary {
  background-color: #80040b;
  background-image: none;
}
.facet-header > h1 > b {
  color: #80040b;
}
.btn-wine-gray {
  color: #fff !important;
  border: none !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
  font-size: 14px !important;
  background-color: #999 !important;
  background-image: -webkit-linear-gradient(bottom, #999, #666) !important;
  background-image: -moz-linear-gradient(bottom, #999, #666) !important;
  background-image: -o-linear-gradient(bottom, #999, #666) !important;
  background-image: -ms-linear-gradient(bottom, #999, #666) !important;
  background-image: linear-gradient(bottom, #999, #666) !important;
  display: inline-block !important;
  *display: inline !important;
  zoom: 1 !important;
  padding: 10px 20px !important;
  text-align: center !important;
  text-decoration: none !important;
}
.btn-wine-gray:hover {
  color: #fff !important;
  background-color: #666 !important;
  background-image: -webkit-linear-gradient(bottom, #666, #999) !important;
  background-image: -moz-linear-gradient(bottom, #666, #999) !important;
  background-image: -o-linear-gradient(bottom, #666, #999) !important;
  background-image: -ms-linear-gradient(bottom, #666, #999) !important;
  background-image: linear-gradient(bottom, #666, #999) !important;
  text-decoration: none !important;
}
.btn-wine-red {
  color: #fff !important;
  border: none !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
  font-size: 14px !important;
  background-color: #803240 !important;
  background-image: -webkit-linear-gradient(bottom, #803240, #3f1022) !important;
  background-image: -moz-linear-gradient(bottom, #803240, #3f1022) !important;
  background-image: -o-linear-gradient(bottom, #803240, #3f1022) !important;
  background-image: -ms-linear-gradient(bottom, #803240, #3f1022) !important;
  background-image: linear-gradient(bottom, #803240, #3f1022) !important;
  display: inline-block !important;
  *display: inline !important;
  zoom: 1 !important;
  padding: 10px 20px !important;
  text-align: center !important;
  text-decoration: none !important;
}
.btn-wine-red:hover {
  color: #fff !important;
  background-color: #3f1022 !important;
  background-image: -webkit-linear-gradient(bottom, #3f1022, #803240) !important;
  background-image: -moz-linear-gradient(bottom, #3f1022, #803240) !important;
  background-image: -o-linear-gradient(bottom, #3f1022, #803240) !important;
  background-image: -ms-linear-gradient(bottom, #3f1022, #803240) !important;
  background-image: linear-gradient(bottom, #3f1022, #803240) !important;
  text-decoration: none !important;
}
.black-cart-icon {
  background-image: url("../../images/glyphicons-halflings-white.png");
}
.red-sprite-background-image {
  background-image: url("../../images/red-sprite.png");
}
.modal-header .close {
  color: #333 !important;
  font-size: 30px !important;
  line-height: 30px !important;
}
.btn-link {
  color: #803240 !important;
}
.muted {
  text-decoration: none !important;
}
.product-review .muted {
  margin-left: 10px;
}
body {
  font-family: sans-serif;
  font-size: 14px;
  background-color: #EEE;
  background-image: -webkit-linear-gradient(top, #EEE 20%, #e9e9e9 40%, #fff 100%);
  background-image: -moz-linear-gradient(top, #EEE 20%, #e9e9e9 40%, #fff 100%);
  background-image: -o-linear-gradient(top, #EEE 20%, #e9e9e9 40%, #fff 100%);
  background-image: -ms-linear-gradient(top, #EEE 20%, #e9e9e9 40%, #fff 100%);
  background-image: linear-gradient(top, #EEE 20%, #e9e9e9 40%, #fff 100%);
}
iframe.cd-iframe-newsletter {
  border: none;
  width: 100%;
}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #80040b;
}
#site-header .site-header-top-nav .navbar-inner .nav > li a:hover {
  color: #ad2b2b;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #80040b;
  background-image: none;
}
.dropdown-menu > li > a:hover div,
.dropdown-menu > li > a:focus div,
.dropdown-submenu:hover > a div,
.dropdown-submenu:focus > a div,
.dropdown-menu > .active > a div,
.dropdown-menu > .active > a:hover div,
.dropdown-menu > .active > a:focus div {
  color: #fff !important;
}
footer#site-footer {
  border-bottom: 0;
}
footer#site-footer div.container {
  background-color: white;
  border-top: none;
}
footer#site-footer div.container #site-footer-inner-box {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #d9d9d9;
}
footer#site-footer div.container #site-footer-inner-box div.footer-1 {
  background-color: #EEE;
  font-weight: bold;
  font-size: 11px;
  padding: 10px 0 0 0;
  margin-top: 0;
}
footer#site-footer div.container #site-footer-inner-box div.footer-1 div.span3 {
  padding-left: 20px;
}
footer#site-footer div.container #site-footer-inner-box div.footer-1 div.span3 dl {
  color: #3f1022;
}
footer#site-footer div.container #site-footer-inner-box div.footer-1 div.span3 dd {
  color: #2D3338;
  margin: 0;
  padding: 3px 0;
  line-height: 11px;
}
footer#site-footer div.container #site-footer-inner-box div.footer-1 div.span3 dd a {
  color: #2D3338;
  text-decoration: none;
}
footer#site-footer div.container #site-footer-inner-box div.footer-1 div.span3 dd a:hover,
footer#site-footer div.container #site-footer-inner-box div.footer-1 div.span3 dd a:focus {
  color: #3f1022;
}
footer#site-footer div.container #site-footer-inner-box div.footer-1 aside.footer-newsletter #newsletter-signup-form {
  margin: 11px 0px 0px 0px;
}
footer#site-footer div.container #site-footer-inner-box div.footer-1 aside.footer-newsletter #newsletter-signup-form legend {
  border: none;
  color: #3f1022;
  font-size: 13px;
  line-height: 1em;
  margin-bottom: 5px;
  text-transform: uppercase;
}
footer#site-footer div.container #site-footer-inner-box div.footer-1 aside.footer-newsletter #newsletter-signup-form .form-inputs input {
  width: 60%;
}
footer#site-footer div.container #site-footer-inner-box div.footer-1 aside.footer-newsletter #newsletter-signup-form .form-inputs button {
  font-size: 10px;
  line-height: 18px;
  padding: 4px 0px;
  width: 25%;
}
footer#site-footer div.container #site-footer-inner-box div.footer-1 aside.footer-newsletter #newsletter-msg {
  margin: 11px 0px 0px 0px;
}
footer#site-footer div.container #site-footer-inner-box div.footer-2 {
  background-color: #E4E4E5;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  padding: 10px 0;
  text-align: center;
}
footer#site-footer div.container #site-footer-inner-box div.footer-2 #footer-additional-links {
  min-height: 18px;
}
footer#site-footer div.container #site-footer-inner-box div.footer-2 ul.hidden-phone {
  display: inline-block;
  *display: inline;
  zoom: 1;
  line-height: inherit;
  list-style: none;
  margin: 0;
  text-align: center;
}
footer#site-footer div.container #site-footer-inner-box div.footer-2 ul.hidden-phone li {
  border-right: 1px solid #000;
  float: none;
  line-height: inherit;
  padding: 0 10px;
}
footer#site-footer div.container #site-footer-inner-box div.footer-2 ul.hidden-phone li a {
  color: #000;
  line-height: inherit;
  text-decoration: underline;
}
footer#site-footer div.container #site-footer-inner-box div.footer-2 ul.hidden-phone li:last-child {
  border: none;
}
footer#site-footer div.container #site-footer-inner-box div.footer-2 ul.visible-phone {
  font-size: 16px;
  font-weight: normal;
  margin: 0px auto;
  text-align: left;
  width: 90%;
}
footer#site-footer div.container #site-footer-inner-box div.footer-2 ul.visible-phone li i {
  float: right;
}
footer#site-footer div.container #site-footer-inner-box div.footer-2 #footer-collapse {
  background-color: #e4e4e5;
}
footer#site-footer div.container #site-footer-inner-box div.footer-2 .footer-collapse-toggle .icon-plus-sign {
  display: none;
}
footer#site-footer div.container #site-footer-inner-box div.footer-2 .footer-collapse-toggle .icon-minus-sign {
  display: block;
}
footer#site-footer div.container #site-footer-inner-box div.footer-2 .footer-collapse-toggle.collapsed .icon-plus-sign {
  display: block;
}
footer#site-footer div.container #site-footer-inner-box div.footer-2 .footer-collapse-toggle.collapsed .icon-minus-sign {
  display: none;
}
footer#site-footer div.container #site-footer-inner-box div.footer-3 {
  padding: 10px 0 0 0;
  background: #FFFFFF;
}
footer#site-footer div.container #site-footer-inner-box div.footer-3 ul.credit-cards {
  display: inline-block;
  *display: inline;
  zoom: 1;
  list-style: none;
  margin: 0;
  padding-left: 20px;
}
footer#site-footer div.container #site-footer-inner-box div.footer-3 ul.credit-cards li {
  float: left;
  padding-right: 0;
  margin: 0 10px;
}
footer#site-footer div.container #site-footer-inner-box div.footer-3 div.copyright-info {
  text-align: center;
}
footer#site-footer div.container #site-footer-inner-box div.footer-3 div.copyright-info small {
  color: #2D3338;
  font-size: 11px;
  font-weight: bold;
}
footer#site-footer div.container #site-footer-inner-box div.footer-3 div.footer-verisign ul {
  float: right;
  list-style: none;
}
footer#site-footer div.container #site-footer-inner-box div.footer-3 div.footer-verisign ul li {
  float: left;
  margin: 0 10px;
}
header#site-header {
  line-height: 18px;
}
header#site-header li.dropdown-submenu.pull-left {
  float: left !important;
  width: auto !important;
  text-transform: capitalize !important;
}
header#site-header div.container {
  background-color: white;
  line-height: inherit;
}
header#site-header div.container div.site-logo.content-banner {
  width: 15%;
  min-width: 112px;
  float: left;
}
header#site-header div.container div.site-logo.content-banner a {
  padding: 0px 0px 3px 0px;
}
header#site-header div.container div.site-logo.content-banner a:focus {
  outline: 2px solid #3f1022;
}
header#site-header div.container nav.site-header-top-nav {
  height: auto;
  line-height: inherit;
  margin-bottom: 0px;
  width: auto;
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner {
  background-color: white;
  background-image: none;
  box-shadow: none;
  padding: 0;
  border: 0;
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container {
  padding: 2px 0 0 0;
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container .pull-left {
  margin-top: -40px;
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container .pull-right .site-search {
  margin-bottom: 0px;
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container div.slogan-container {
  margin-top: -40px;
  padding: 5px 0px 10px 0px;
  text-transform: uppercase;
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container div.slogan-container h2#slogan-title {
  font-size: 120%;
  margin: 0;
  font-weight: normal;
  line-height: 150%;
  padding-top: 20px;
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container div.slogan-container div#slogan-subtitle {
  color: #3f1022;
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container div.slogan-container div#slogan-subtitle span {
  color: #2D3338;
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container div.pull-right.visible-md {
  padding-right: 12px;
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container div.pull-right.visible-md a {
  color: #212123;
  box-shadow: none;
  text-shadow: none;
  outline: 0;
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container div.pull-right.visible-md a:focus {
  background-color: #3f1022;
  color: #fff;
  outline: 2px solid #3f1022;
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper {
  padding: 0;
  margin: 0;
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper ul.nav {
  padding: 5px 0 0 0;
  margin: 0;
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper ul.nav li {
  border-left: 1px solid #e9e9e9;
  padding: 0 10px;
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper ul.nav li a {
  color: #212123;
  box-shadow: none;
  text-shadow: none;
  outline: 0;
  padding: 10px;
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper ul.nav li a:hover,
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper ul.nav li a:focus {
  background-color: #3f1022;
  color: #fff;
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper ul.nav li:first-child {
  border-left: none;
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper ul.nav li:last-child {
  padding-right: 0;
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper ul.nav li#my-account-container > .dropdown-menu {
  z-index: 2000;
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper ul.nav li#my-account-container li.my-account-item-cell a:hover,
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper ul.nav li#my-account-container li.my-account-item-cell a:focus {
  background-color: #3f1022;
  background-image: -webkit-linear-gradient(top, #3f1022, #803240);
  background-image: -moz-linear-gradient(top, #3f1022, #803240);
  background-image: -o-linear-gradient(top, #3f1022, #803240);
  background-image: -ms-linear-gradient(top, #3f1022, #803240);
  background-image: linear-gradient(top, #3f1022, #803240);
  color: #fff;
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper ul.nav li#mini-cart-container .dropdown-menu {
  border: 6px solid #3f1022;
  width: 16em;
  right: 0;
  left: inherit;
  font: 14px Arial;
  z-index: 2000;
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper ul.nav li#mini-cart-container .dropdown-menu ul.items {
  list-style: none;
  margin: 0;
  max-height: 245px;
  overflow: auto;
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper ul.nav li#mini-cart-container .dropdown-menu ul.items li.mini-cart-item-cell {
  border-top: 1px solid #3f1022;
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper ul.nav li#mini-cart-container .dropdown-menu ul.items li.mini-cart-item-cell a.row-fluid {
  max-width: 170px;
  font: 14px Arial;
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper ul.nav li#mini-cart-container .dropdown-menu ul.items li.mini-cart-item-cell a:hover,
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper ul.nav li#mini-cart-container .dropdown-menu ul.items li.mini-cart-item-cell a:focus {
  background-color: transparent;
  color: #fff;
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper ul.nav li#mini-cart-container .dropdown-menu ul.items li.mini-cart-item-cell .mini-cart-item-details {
  margin-top: -18px;
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper ul.nav li#mini-cart-container .dropdown-menu ul.summary {
  border-top: 6px solid #3f1022;
  list-style: none;
  margin: 0;
  padding: 5px;
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper ul.nav li#mini-cart-container .dropdown-menu ul.summary li {
  padding: 0;
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper ul.nav li#mini-cart-container a.dropdown-toggle {
  background-color: white;
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper ul.nav li#mini-cart-container a.dropdown-toggle .item-count strong {
  background: none repeat scroll 0% 0% #3f1022;
  color: #fff;
  border-radius: 50% 50% 50% 50%;
  display: inline-block;
  font-weight: normal;
  padding: 1.5px;
  text-align: center;
  min-width: 15px;
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper ul.nav li#mini-cart-container a.dropdown-toggle:hover,
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper ul.nav li#mini-cart-container a.dropdown-toggle:focus {
  background-color: #3f1022;
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper ul.nav li#mini-cart-container a.dropdown-toggle:hover span.icon-shopping-cart,
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper ul.nav li#mini-cart-container a.dropdown-toggle:focus span.icon-shopping-cart {
  background-image: url("../../images/glyphicons-halflings-white.png");
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper ul.nav li#mini-cart-container a.dropdown-toggle:hover .item-count strong,
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper ul.nav li#mini-cart-container a.dropdown-toggle:focus .item-count strong {
  background: none repeat scroll 0% 0% #fff;
  color: #3f1022;
}
header#site-header div.container nav.site-header-top-nav div.navbar-inner #site-search-container .site-search .search-query,
header#site-header div.container nav.site-header-top-nav div.navbar-inner #site-search-container .site-search .btn {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
header#site-header div.container nav.site-header-top-nav #contact-information {
  margin-top: 10px;
}
header#site-header div.container nav.site-header-top-nav #contact-information .pull-right {
  list-style: none;
  margin: 0px;
}
header#site-header div.container nav.site-header-top-nav #contact-information .pull-right .phone {
  color: #000;
  letter-spacing: 2px;
  line-height: 28px;
  float: right;
  font-size: 18px;
  font-weight: bold;
}
header#site-header div.container nav.site-header-top-nav #contact-information .pull-right .live-person {
  float: left;
}
header#site-header div.container button#mobile-menu-toggle-button {
  background-color: #3f1022;
  background-image: -webkit-linear-gradient(top, #3f1022, #803240);
  background-image: -moz-linear-gradient(top, #3f1022, #803240);
  background-image: -o-linear-gradient(top, #3f1022, #803240);
  background-image: -ms-linear-gradient(top, #3f1022, #803240);
  background-image: linear-gradient(top, #3f1022, #803240);
  color: #fff;
}
header#site-header div.container div#main-nav-and-search-container {
  background: black;
  margin: 0;
}
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav {
  background: black;
  border-top: 0;
  margin: 0;
  padding: 0;
}
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner {
  background: black;
  border: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin: 0;
  min-height: inherit;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
}
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav {
  background: black;
  margin-right: 0px;
  position: static;
  width: 100%;
}
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 {
  position: static;
}
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0:hover,
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0:focus {
  background: white;
}
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0:hover > .dropdown-menu,
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0:focus > .dropdown-menu {
  display: block;
}
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0:hover a.level-0,
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0:focus a.level-0 {
  background: white;
  color: black;
}
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0:hover a.level-0:hover,
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0:focus a.level-0:hover,
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0:hover a.level-0:focus,
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0:focus a.level-0:focus {
  background: white;
}
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 a.level-0 {
  color: white;
  font-size: 16px;
  padding: 8px 10px;
  text-shadow: none;
  text-transform: none;
}
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 a.level-0:hover,
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 a.level-0:focus {
  background: white;
  color: black;
}
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 .dropdown-menu {
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin: 0px;
}
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 .dropdown-menu:before,
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 .dropdown-menu:after {
  display: none;
}
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 .dropdown-menu.level-0 {
  background: transparent url("../../images/dropdown-background.png") repeat;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin: 0px;
  width: 100%;
}
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 .dropdown-menu.level-0 a {
  color: #3f1022;
  font-size: 13px;
  overflow: hidden;
  padding: 0px;
  text-decoration: none;
  text-overflow: ellipsis;
  text-shadow: none;
  text-transform: none;
}
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 .dropdown-menu.level-0 a:hover,
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 .dropdown-menu.level-0 a:focus {
  background: none;
}
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 .dropdown-menu.level-0 a:after {
  content: '';
  display: none;
}
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 .dropdown-menu.level-0 .category-row {
  display: table;
  list-style: none;
  margin: 0px 5px;
}
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 .dropdown-menu.level-0 .category-row.level-1,
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 .dropdown-menu.level-0 .category-row.level-2 {
  margin: 0px;
}
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 .dropdown-menu.level-0 .category-row .dropdown-submenu.level-1:last-child {
  border-right: none;
}
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 .dropdown-menu.level-0 li.dropdown.level-1,
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 .dropdown-menu.level-0 li.dropdown-submenu.level-1,
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 .dropdown-menu.level-0 li.level-1 {
  border-right: 1px solid #B5B5B5;
  display: table-cell;
  margin: 10px 5px 0px 5px;
  max-width: 200px;
  min-width: 200px;
  padding-left: 10px;
  width: 200px;
}
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 .dropdown-menu.level-0 li.dropdown.level-1 > a,
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 .dropdown-menu.level-0 li.dropdown-submenu.level-1 > a,
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 .dropdown-menu.level-0 li.level-1 > a {
  background: transparent;
  color: #3f1022;
  font-weight: bold;
  padding: 3px 0;
}
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 .dropdown-menu.level-0 li.dropdown.level-1:first-child,
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 .dropdown-menu.level-0 li.dropdown-submenu.level-1:first-child,
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 .dropdown-menu.level-0 li.level-1:first-child {
  padding-left: 0px;
}
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 .dropdown-menu.level-0 li.dropdown.level-1:last-child,
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 .dropdown-menu.level-0 li.dropdown-submenu.level-1:last-child,
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 .dropdown-menu.level-0 li.level-1:last-child {
  border-right: none;
}
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 .dropdown-menu.level-0 li.dropdown.level-1 .dropdown-menu.level-1,
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 .dropdown-menu.level-0 li.dropdown-submenu.level-1 .dropdown-menu.level-1,
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 .dropdown-menu.level-0 li.level-1 .dropdown-menu.level-1 {
  background: transparent;
  border: none;
  box-shadow: none;
  display: block;
  position: static;
  width: 100%;
}
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 .dropdown-menu.level-0 li.level-2 > a {
  padding: 3px 0;
}
header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 .dropdown-menu.level-0 li.level-2 .dropdown-menu.level-2 {
  display: none;
}
header#site-header div.container div#main-nav-and-search-container div#site-search-container {
  padding: 0;
  margin: 0;
}
header#site-header div.container div#main-nav-and-search-container div#site-search-container nav.navbar {
  padding: 5px 0 0 0px;
}
header#site-header div.container div#main-nav-and-search-container div#site-search-container nav.navbar ul.nav.navbar-nav li a {
  color: #3f1022;
  outline: 0;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 100%;
}
header#site-header div.container div#main-nav-and-search-container div#site-search-container nav.navbar ul.nav.navbar-nav li a:hover,
header#site-header div.container div#main-nav-and-search-container div#site-search-container nav.navbar ul.nav.navbar-nav li a:focus {
  background-color: #3f1022;
  background-image: -webkit-linear-gradient(top, #3f1022, #803240);
  background-image: -moz-linear-gradient(top, #3f1022, #803240);
  background-image: -o-linear-gradient(top, #3f1022, #803240);
  background-image: -ms-linear-gradient(top, #3f1022, #803240);
  background-image: linear-gradient(top, #3f1022, #803240);
  color: #fff;
  font-weight: normal;
  box-shadow: none;
  text-shadow: none;
}
header#site-header div.container div#main-nav-and-search-container div#site-search-container div.pull-right {
  height: 40px;
  padding: 10px 0 0 0;
}
header#site-header div.container div#main-nav-and-search-container div#site-search-container div.pull-right form.form-search.site-search {
  padding: 0 10px 0 0;
  margin: 0;
}
header#site-header div.container div#main-nav-and-search-container div#site-search-container div.pull-right form.form-search.site-search .input-append ul.dropdown-menu li a:hover,
header#site-header div.container div#main-nav-and-search-container div#site-search-container div.pull-right form.form-search.site-search .input-append ul.dropdown-menu li a:focus,
header#site-header div.container div#main-nav-and-search-container div#site-search-container div.pull-right form.form-search.site-search .input-append ul.dropdown-menu li.active a {
  background-color: #3f1022;
  background-image: -webkit-linear-gradient(top, #3f1022, #803240);
  background-image: -moz-linear-gradient(top, #3f1022, #803240);
  background-image: -o-linear-gradient(top, #3f1022, #803240);
  background-image: -ms-linear-gradient(top, #3f1022, #803240);
  background-image: linear-gradient(top, #3f1022, #803240);
  color: #fff;
}
header#site-header div.container div#main-nav-and-search-container div#site-search-container div.pull-right form.form-search.site-search input.input-medium.search-query:hover,
header#site-header div.container div#main-nav-and-search-container div#site-search-container div.pull-right form.form-search.site-search input.input-medium.search-query:focus {
  border-color: rgba(107, 21, 29, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(107, 21, 29, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(107, 21, 29, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(107, 21, 29, 0.6);
}
header#site-header div#site-header-container #site-header-inner-box {
  line-height: inherit;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
header#site-header div#site-header-container #site-header-inner-box .site-branding .mobile-logo {
  text-align: center;
  padding-bottom: 10px;
}
header#site-header div#site-header-container #site-header-inner-box .site-branding .mobile-logo .site-logo,
header#site-header div#site-header-container #site-header-inner-box .site-branding .mobile-logo h2 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-weight: normal;
  float: none;
}
header#site-header div#site-header-container #site-header-inner-box .site-branding .mobile-logo .site-logo {
  min-width: 50px;
  padding: 0px;
  position: relative;
  top: -21px;
  width: 110px;
}
header#site-header div#site-header-container #site-header-inner-box .site-branding .mobile-logo .site-logo a {
  display: block;
}
header#site-header div#site-header-container #site-header-inner-box .site-branding .mobile-logo .site-logo a img {
  margin: 0px 0px 0 0;
  padding: 0;
  width: 100px;
}
header#site-header div#site-header-container #site-header-inner-box .site-branding .mobile-logo h2 {
  font-size: 22px;
  height: 50px;
  line-height: 25px;
  margin: 7px 0 0 0;
  padding: 0;
  text-align: left;
  text-transform: capitalize;
  width: 180px;
}
header#site-header div#site-header-container #site-header-inner-box .site-branding .mobile-logo #mobile-phone {
  padding: 0;
  margin-left: -6%;
  float: left;
}
header#site-header div#site-header-container #site-header-inner-box .site-branding .mobile-logo #mobile-phone li {
  letter-spacing: 2px;
  list-style-type: none;
  font-size: 18px;
  color: #000;
  font-weight: bold;
  line-height: 28px;
}
header#site-header div#site-header-container #site-header-inner-box .site-branding .mobile-logo .navbar-inverse {
  margin: 0 -3%;
}
header#site-header div#site-header-container #site-header-inner-box .site-branding .mobile-logo .navbar-inverse .navbar-inner {
  background: none;
  border: none;
}
header#site-header div#site-header-container #site-header-inner-box .site-branding .mobile-logo .navbar-inverse .navbar-inner .container ul#mobile-login {
  float: right;
  padding: 0 5px 0 0 ;
  list-style: none none outside;
  margin: 0;
  font-size: 10px;
}
header#site-header div#site-header-container #site-header-inner-box .site-branding .mobile-logo .navbar-inverse .navbar-inner .container ul#mobile-login li {
  display: inline-block;
  padding: 5px 15px;
  font-size: 15px;
  background: #333;
}
header#site-header div#site-header-container #site-header-inner-box .site-branding .mobile-logo .navbar-inverse .navbar-inner .container ul#mobile-login li:hover {
  background: #000;
}
header#site-header div#site-header-container #site-header-inner-box .site-branding .mobile-logo .navbar-inverse .navbar-inner .container ul#mobile-login li a {
  color: #FFF;
}
header#site-header div#site-header-container #site-header-inner-box .site-branding .mobile-logo .navbar-inverse .navbar-inner .container ul#mobile-cart-summary {
  list-style: none none outside;
  padding: 5px 15px;
  font-size: 15px;
  background: #803240;
  margin: 0 -6% 0 0;
}
header#site-header div#site-header-container #site-header-inner-box .site-branding .mobile-logo .navbar-inverse .navbar-inner .container ul#mobile-cart-summary a {
  font-size: 15px;
  color: #FFF;
}
header#site-header div#site-header-container #site-header-inner-box .site-branding .mobile-logo .navbar-inverse .navbar-inner .container .btn-navbar {
  margin: 0px 5px 0px 0px;
}
header#site-header div#site-header-container #site-header-inner-box .site-branding #mobile-search-container {
  clear: both;
  margin: 15px 0 0;
  width: 100%;
}
header#site-header div#site-header-container #site-header-inner-box .site-branding #mobile-search-container form {
  background-color: #444;
  margin: 0 -6%;
}
header#site-header div#site-header-container #site-header-inner-box .site-branding #mobile-search-container form input.input-medium.search-query {
  width: 94%;
}
header#site-header div#site-header-container #site-header-inner-box .site-branding #mobile-main-menu-container .site-header-main-nav {
  margin: 0 -6%;
  width: auto !important;
}
header#site-header div#site-header-container #site-header-inner-box .site-branding #mobile-main-menu-container .site-header-main-nav .navbar-inner {
  background: black;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
header#site-header div#site-header-container #site-header-inner-box .site-branding #mobile-main-menu-container .site-header-main-nav .navbar-inner > a {
  color: white;
  font-weight: bold;
  text-shadow: none;
  text-decoration: none;
}
header#site-header div#site-header-container #site-header-inner-box .site-branding #mobile-main-menu-container .site-header-main-nav .navbar-inner > a:hover,
header#site-header div#site-header-container #site-header-inner-box .site-branding #mobile-main-menu-container .site-header-main-nav .navbar-inner > a:focus {
  background: white;
  color: black;
}
header#site-header div#site-header-container #site-header-inner-box .site-branding #mobile-main-menu-container .site-header-main-nav .navbar-inner #accordion-0 {
  background: black;
}
header#site-header div#site-header-container #site-header-inner-box .site-branding #mobile-main-menu-container .site-header-main-nav .navbar-inner .accordion .accordion-group {
  border: none;
}
header#site-header div#site-header-container #site-header-inner-box .site-branding #mobile-main-menu-container .site-header-main-nav .navbar-inner .accordion .accordion-group .accordion-heading {
  padding: 15px;
}
header#site-header div#site-header-container #site-header-inner-box .site-branding #mobile-main-menu-container .site-header-main-nav .navbar-inner .accordion .accordion-group .accordion-heading .accordion-toggle {
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
header#site-header div#site-header-container #site-header-inner-box .site-branding #mobile-main-menu-container .site-header-main-nav .navbar-inner .accordion .accordion-group .accordion-heading .accordion-toggle i {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
header#site-header div#site-header-container #site-header-inner-box .site-branding #mobile-main-menu-container .site-header-main-nav .navbar-inner .accordion .accordion-group .accordion-heading .accordion-toggle.collapse-toggle {
  background-image: url("../../images/arrow-down.png");
  background-position: right center;
  background-repeat: no-repeat;
}
header#site-header div#site-header-container #site-header-inner-box .site-branding #mobile-main-menu-container .site-header-main-nav .navbar-inner .accordion .accordion-group .accordion-heading .accordion-toggle.collapse-toggle.collapsed {
  background-image: url("../../images/arrow-right.png");
}
header#site-header div#site-header-container #site-header-inner-box .site-branding #mobile-main-menu-container .site-header-main-nav .navbar-inner .accordion .accordion-group .accordion-body .accordion-inner {
  background: #999;
  border: none;
}
header#site-header div#site-header-container #site-header-inner-box .site-branding #mobile-main-menu-container .site-header-main-nav .navbar-inner .mobile-profile li a {
  color: white;
  font-weight: bold;
  padding: 15px 30px;
  text-shadow: none;
}
header#site-header div#site-header-container #site-header-inner-box .site-branding #mobile-main-menu-container .site-header-main-nav .navbar-inner .mobile-profile li a:hover {
  background-color: #333333;
}
/* TavanoTeam custom styles */
span#mobile-cart-icon,
span#mobile-cart-link,
span#account-icon,
span#signin-icon {
  display: none;
}
#page-not-found,
#internal-error {
  margin: auto;
  width: 90%;
}
#page-not-found h1,
#internal-error h1,
#page-not-found h2,
#internal-error h2,
#page-not-found h3,
#internal-error h3 {
  color: #3f1022;
}
#page-not-found div.row-fluid,
#internal-error div.row-fluid {
  margin: 40px auto;
}
div#landing-page-header > div.row-fluid {
  margin: auto;
  width: 90%;
}
div#landing-page-header > div.row-fluid #breadcrumbs {
  background: none;
  padding: 20px 0px 5px 12px;
}
div#landing-page-header > div.row-fluid #breadcrumbs a,
div#landing-page-header > div.row-fluid #breadcrumbs .active,
div#landing-page-header > div.row-fluid h1 {
  color: #3f1022;
}
div#landing-page-content {
  margin: auto;
  width: 90%;
}
div#landing-page-content #landing-content {
  padding: 20px;
}
div#landing-page-content h1,
div#landing-page-content h2,
div#landing-page-content h3,
div#landing-page-content a,
div#landing-page-content strong,
div#landing-page-content address strong {
  color: #3f1022;
}
div#landing-page-content h2 {
  margin-top: 40px;
}
div#landing-page-content iframe.cd-iframe {
  border: none;
  margin: 40px 0;
  width: 100%;
}
div#landing-page-content .text-center {
  text-align: center;
}
div#landing-page-content .uppercase {
  text-transform: uppercase;
}
div#landing-page-content #request-catalog-aside {
  padding: 20px;
}
#home-page .bx-wrapper .bx-pager.bx-custom-pager a {
  text-indent: 0;
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#home-page .bx-wrapper .bx-pager.bx-custom-pager a:hover,
#home-page .bx-wrapper .bx-pager.bx-custom-pager a.active {
  background: #000000;
  border: 1px solid transparent;
}
@-ms-viewport {
  width: device-width;
}
@media (max-width: 1200px) {
  header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 {
    font-size: 14px;
  }
  header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 .dropdown-menu.level-0 {
    display: none !important;
  }
  #homepage-intro-text .intro-left {
    display: block !important;
    float: none !important;
    margin: 0px auto !important;
    max-width: 100% !important;
  }
  #homepage-intro-text .intro-right {
    display: block !important;
    float: none !important;
    margin: 10px auto 0px auto !important;
  }
}
@media (max-width: 980px) {
  header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 {
    font-size: 14px;
  }
  header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 a.level-0 {
    font-size: 12px;
    padding: 8px 6px;
  }
  header#site-header div.container div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 .dropdown-menu {
    display: none !important;
  }
  footer#site-footer div.container #site-footer-inner-box div.footer-1 aside.footer-newsletter #newsletter-signup-form .form-inputs {
    width: 80%;
  }
  footer#site-footer div.container #site-footer-inner-box div.footer-1 aside.footer-newsletter #newsletter-signup-form .form-inputs input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    float: none;
    height: 25px;
    width: 100%;
  }
  footer#site-footer div.container #site-footer-inner-box div.footer-1 aside.footer-newsletter #newsletter-signup-form .form-inputs button {
    display: block;
    float: none;
    width: 100%;
  }
  footer#site-footer div.container #site-footer-inner-box div.footer-3 ul.credit-cards li {
    margin: 0px 1px;
  }
  footer#site-footer div.container #site-footer-inner-box div.footer-3 div.copyright-info {
    text-align: center;
  }
  footer#site-footer div.container #site-footer-inner-box div.footer-3 div.footer-verisign ul li {
    margin: 0px 2px;
  }
}
@media (max-width: 767px) {
  /* .freeshipping {
    background: url("/Images/css-images/asf_free_shippingYes-90.png") no-repeat !important;
    width: 90px !important;
    height: 90px !important;
    position: absolute !important;
    left: 0;
    z-index: 1;
  }
  .onsale {
    background: url("/Images/css-images/asf_onsale_burstYes-90.png") no-repeat !important;
    width: 90px !important;
    height: 90px !important;
    position: absolute !important;
    right: 0;
    z-index: 1;
  } */
  #site-header {
    padding: 0px;
  }
  /* TavanoTeam custom styles */
  div.mobile-logo {
    padding-top: 10px;
    max-height: 55px;
  }
  ul#mobile-phone {
    float: none !important;
  }
  div.navbar.navbar-inverse.mobile-nav {
    width: 100%;
    padding-top: 15px;
  }
  div.navbar.navbar-inverse.mobile-nav a.btn.btn-navbar {
    float: left;
    margin-right: 0 !important;
    padding-top: 14px;
  }
  ul#mobile-cart-summary {
    display: none;
  }
  ul#mobile-login {
    padding: 8px 0 !important;
  }
  li#top-signin,
  li.hidden-desktop {
    float: left;
  }
  li#top-signin a,
  li.hidden-desktop a {
    display: block;
  }
  li#top-signin a img.sign-in-arrow,
  li.hidden-desktop a img.sign-in-arrow {
    display: none;
  }
  li#top-signin a span#account-icon,
  li.hidden-desktop a span#account-icon,
  li#top-signin a span#signin-icon,
  li.hidden-desktop a span#signin-icon {
    display: block;
    float: left;
    margin-right: 5px;
  }
  li#top-signin a span#account-icon img,
  li.hidden-desktop a span#account-icon img,
  li#top-signin a span#signin-icon img,
  li.hidden-desktop a span#signin-icon img {
    width: 20px;
  }
  li.hidden-desktop {
    float: left;
    padding-right: 0 !important;
  }
  li.hidden-desktop img {
    display: none;
  }
  li.hidden-desktop a {
    float: left;
  }
  li.hidden-desktop a span#account-icon,
  li.hidden-desktop a span#mobile-cart-icon,
  li.hidden-desktop a span#mobile-cart-link {
    display: block;
    float: left;
    margin-right: 5px;
  }
  li.hidden-desktop a span#account-icon img,
  li.hidden-desktop a span#mobile-cart-icon img,
  li.hidden-desktop a span#mobile-cart-link img {
    display: block;
    width: 20px;
  }
  li.hidden-desktop a:first-of-type {
    margin-right: 15px;
  }
  li#top-checkout {
    float: left;
  }
  li#top-checkout img {
    display: none;
  }
  li#top-checkout span#mobile-cart-icon {
    display: block;
    float: left;
    margin-right: 5px;
  }
  li#top-checkout span#mobile-cart-icon img {
    display: block;
    width: 20px;
  }
  li#top-checkout span#mobile-cart-link {
    display: block;
    float: right;
  }
  .bx-wrapper .bx-controls-auto {
    display: none;
  }
  .facet-header {
    padding-right: 18px;
  }
  .facet-header .pagination {
    float: left !important;
    margin-left: 18px;
  }
  .facet-header .narrow-by-btn {
    margin-top: 8px;
  }
  footer#site-footer div.container #site-footer-inner-box {
    border: none;
    width: 100%;
  }
  footer#site-footer div.container #site-footer-inner-box div.footer-2 {
    background: none;
  }
  footer#site-footer div.container #site-footer-inner-box div.footer-2 #footer-additional-links {
    background: none;
  }
  footer#site-footer div.container #site-footer-inner-box div.footer-2 ul.visible-phone {
    background-color: #EEE;
  }
  footer#site-footer div.container #site-footer-inner-box div.footer-3 {
    padding: 10px 0px;
  }
  footer#site-footer div.container #site-footer-inner-box div.footer-3 div.copyright-info {
    text-align: center;
  }
  .freeshipping,
  .onsale {
    width: 90px;
    height: 90px;
  }
  div#content #facet-browse #facet-browse-inner-box #faceted-navigation .facet-clear-all {
    color: white;
    font-weight: bold;
  }
  .facet-header .item-listing-sorting label {
    margin: 10px;
  }
  .facet-header .item-listing-sorting .sort-selector-label {
    display: block;
    font-weight: bold;
  }
}
@media (min-width: 320px) and (max-width: 350px) {
  header#site-header div#site-header-container #site-header-inner-box .site-branding .mobile-logo h2 {
    font-size: 18px;
    width: 150px;
  }
}
@media (max-width: 322px) {
  header#site-header div#site-header-container #site-header-inner-box {
    padding: 0;
  }
}
