div#content div#shopping-cart {
  margin-right: auto;
  margin-left: auto;
  padding: 0 0 30px 0;
  width: 90%;
}
div#content div#shopping-cart ul#breadcrumbs {
  background: none;
}
div#content div#shopping-cart ul#breadcrumbs .active,
div#content div#shopping-cart ul#breadcrumbs a {
  color: #3f1022;
}
div#content div#shopping-cart strong.lead-price {
  color: #3f1022;
}
div#content div#shopping-cart .shopping-cart-action-buttons .row-fluid {
  margin-top: 10px;
}
div#content div#shopping-cart .delivery-options-header {
  display: none;
}
div#content div#shopping-cart .shipping-method-container {
  padding-top: 15px;
}
.modal-container #modal-shopping-cart .cart-modal-actions a {
  margin-top: 10px;
}
