div#content {
  div#shopping-cart {
      margin-right: auto;
      margin-left: auto;
      padding: 0 0 30px 0;
      width: 90%;
      // reds
      @font-dark-red: rgb(63,16,34);
      @font-light-red: rgb(128, 50, 64);
      @font-lighter-red: rgb(165, 60, 75);

      ul#breadcrumbs {
        background: none;
        //padding: 20px 0 5px 12px;

        .active,
        a {
          color: @font-dark-red;
        }
      }

      strong.lead-price{
        color: @font-dark-red;
      }

      .shopping-cart-action-buttons {
        .row-fluid {
          margin-top: 10px;
        }
      }

    .delivery-options-header {
      display: none;
    }
    .shipping-method-container {
      padding-top: 15px;
    }

    }

  }

.modal-container {
  #modal-shopping-cart {
    .cart-modal-actions a {
      margin-top: 10px;
    }

  }
}
