#category-container {
  .view-header {
    width: 90%;
    margin-right: auto;
    margin-left: auto;

    ul#breadcrumbs {
      background: none;
      padding: 20px 0 5px 12px;

      .active,
      a {
        color: @font-dark-red;
      }
    }
  }

  .view-body {
    padding: 0 0 30px 0;
    width: 90%;
    margin-right: auto;
    margin-left: auto;

    #category-navigation {
      h3 a {
        color: inherit;
      }
    }

    .category-banner {
      margin-top: 20px;
    }
  }
}
