div#content{
	padding-bottom: 0;
	margin-bottom: 0;
	background-color: white;

	#home-page{
		section{
			#home-page-inner-box{
				width:90%;
	            margin-right: auto;
	            margin-left: auto;
	            

				h1{
					display: block;
					color: @font-dark-red;
				}
				h1#home-page-main-title{
					position: absolute;
					left:-999em;
				}
				#home-page-content{
					padding: 12px 0 12px 0;
					margin-bottom: 0;

          .bx-prev,
          .bx-next {
            z-index: 100;
          }

					#home-slider{
						width:100%;
						margin: 0;
						padding: 0;

						article{
							img{
								width:100%;
								text-align: center;
							}

						}

						
					}

					aside{
						border: 1px solid rgb(217, 217, 217);
						padding: 0 12px 12px 12px;
						min-height: 407px;
						section#wholesale-accounts{
							margin: 0 0 5px 0;
							h1{
								font-size: 140%;
								text-transform: capitalize;
								margin: 0px 0 0 0;
								text-align: center;
								font-weight: bold;
								padding: 0px 5px 0 5px;
							}
							h2{
								font-size: 105%;
								text-transform: capitalize;
								line-height: 150%;
								font-weight: bold;
								text-align: center;
								margin: 0;
							}

							a#trade-discounts-link{
								display: block;
								padding: 5px;
								text-align: center;
								.gradient('top', @font-dark-red, @font-light-red);
								color: @white;
								text-decoration: underline;
							}

							a#trade-discounts-link:focus, a#trade-discounts-link:hover{
								.gradient(top, @font-dark-red, @font-light-red );
								color: @white;
								text-decoration: none;
							}
						}

						section#summer-catalog{
							h1{
								font-size: 140%;
								text-transform: capitalize;
								margin: 0px 0 0 0;
								text-align: center;
								font-weight: bold;
								padding: 5px;
							}
							
							img{
								display: block;
								width:35%;
								margin: 0 auto 5px auto;
								border: 1px solid rgb(217, 217, 217);

							}

							a#order-copy-link{
								display: block;
								padding: 5px;
								text-align: center;
								.gradient('top', @font-dark-red, @font-light-red);
								color: @white;
								color: @white;
								text-decoration: underline;
							}

							a#order-copy-link:focus, a#order-copy-link:hover{
								.gradient(top, @font-dark-red, @font-light-red );
								color: @white;
								text-decoration: none;
							}
						}
					}

					section#main-promo-links{
						margin: 25px 0 25px 0;
						a{
							display: block;
							width:100%;
						img{
							width:100%;
							height: auto;
							border: 0;
						}
						}
					}

          section#all-wine-storage-products,
          section#other-wine-products {
            margin: 25px 0px;

            .span2 {
              text-align: center;

              h1 {
                font-size: 1em;
                font-weight: bold;
                line-height: 1em;
              }
            }
          }

					section#featured-items{
						margin: 35px 0 0 0;

            aside {
              border: none;

              h3 {
                color: @font-dark-red;
                font-size: 23px;
                font-weight: bold;
                margin: 10px 0px 0px 0px;
              }

              .row-fluid .span3 {
                margin-top: 20px;
                text-align: center;

                .item-cell {
                  margin-top: 0px;
                }
              }
            }
					}

					section#homepage-intro-text{
						margin: 15px 0 0px 0;
						background-color: @dark-sand;
						padding: 0px;
						position: relative;
						overflow: hidden;

            .intro-left {
              float: left;
              max-width: 60%;

              img {
                float: left;
                max-width: 20%;
              }

              div {
                float: right;
                max-width: 75%;

                h1 {
                  color: @font-dark-red;
                  font-size: 180%;
                  font-style: italic;
                  margin: 15px 0 10px 0;
                  padding-left: 0;
                  text-transform: capitalize;
                }

                p {
                  font-size: 110%;
                  line-height: 150%;
                  margin: 0;
                  padding: 0;
                }
              }
            }

            .intro-right {
              float: right;
							margin: 0 0 0 15px;
            }	
					}
				}
			}	
		}
	}
}

html .bx-wrapper .bx-viewport {
  min-height: 350px;
}
html .bx-wrapper .bx-viewport #home-slider article{
  width: 100% !important;
}