[data-cid='c281'] .filters > ul a[href='/gifts/holiday/product-type/Gifts-~-Holiday'] {
	display: none;
	}
section#item-list-container{
	header{
		h1.visible-phone{
			font-size:14px;
			color:@font-dark-red;
			text-align: center;
			@media (max-width: 400px) { display: none !important; }
		}

		.facet-header{
            background: transparent;

			#products-category-description{
				margin: 15px 0 15px 0;

				h1{
					font-size: 170%;
					color: @font-dark-red;
				}
				@media (max-width: 400px) { margin-top: 0; }
			}

			.item-listing-sorting{
				position: static;


			}

			.item-listing-display{

				span.display-selector-label{


				}

				span.btn-group{
					a.btn{
						border:0;
						background-image: none;
						box-shadow: none;
						height: 21px;
						line-height: 21px;
						width: 21px;
						padding: 0;
						margin-left: 10px;

						.icon-th-list, .icon-th-large, .icon-th{
							.red-sprite-background-image;
							padding: 0;
							height: 21px;
							width: 21px;
						}

						.icon-th-list{
							background-position: -60px -51px;

							&:hover, &.active{
								background-position: -60px -79px;
							}
						}

						.icon-th-large{
							background-position: -30px -51px;

							&:hover, &.active{
								background-position: -30px -79px;
							}
						}

						.icon-th{
							background-position: 0px -51px;

							&:hover, &.active{
								background-position: -0px -79px;
							}
						}

						&.active{
							.icon-th{
								background-position: 0px -79px;
							}

							.icon-th-large{
								background-position: -30px -79px;
							}

							.icon-th-list{
								background-position: -60px -79px;
							}
						}
					}
				}
			}

			h2{
				font-size: 150%;

				strong{
					color:@font-dark-red;
				}
			}
			@media (max-width: 400px) { padding: 0; }
		}

		.facet-selections{
			margin: 15px 0;

			ul.facets-display{
				height: 34px;
				line-height: 34px;

				li{
					height: 34px;
					line-height: 34px;
					margin-left: 10px;

					&:first-child{
						margin-left: 0;
					}
				}
			}
		}
	}

	#item-list{
		clear:both;

    .row-fluid {
      margin: 20px 0;
    }

		.item-cell{

			.btn-quick-view{

				a.btn.btn-primary{
					background-color: @font-dark-red;
					.gradient (top, @font-light-red, @font-dark-red);
					color: @white;
				}
				a.btn.btn-primary:hover, a.btn.btn-primary:focus{
					background-color: @font-dark-red;
					.gradient (top, @font-dark-red, @font-light-red);
					color: @white;
					background-position:top left;
				}

			}

			.item-cell-thumbnail{
				text-align: center;
				background-color: @white;

			}

			.item-cell-price{
				strong.lead-price{
					color: @font-light-red;
				}
			}

			.item-rating{
				.rating{
					.rating-area{
						width: 100px;
						background-image: url("@{css-images-path}red-star.png");
						.rating-area-fill{

						}
					}
				}
			}

			&.item-cell-list{
        margin: 15px 0;
			}

			&.item-cell-table{
				img{
					width: 240px;
					height: 240px;
				}
			}

			&.item-cell-grid{
			}
		}
	}
}

nav {
	#subcategories-navigation {
		padding-top: 12px;

		h3 {
			font-size: 120%;
			margin: 0;
		}

    a {
      color: @font-dark-red;
    }
	}
}

// Freeshipping icon on itemlist and itemdetail
.freeshipping{
	background: url("/Images/css-images/burst-free-ship-2016.png") no-repeat;
	background-size: cover;
	width: 60px;
	height: 60px;
	position: absolute;
	left: 0;
	z-index: 1;
}
.onsale{
	background: url("/Images/css-images/classic-sale-burst.png") no-repeat;
	background-size: cover;
	width: 60px;
	height: 60px;
	position: absolute;
	left: 0;
	z-index: 1;
}
/* TavanoTeam custom styles */
.newaccessories{
	background: url("/Images/css-images/iwa-new-item-burst.png") no-repeat;
	background-size: cover;
	width: 60px;
	height: 60px;
	position: absolute;
	left: 0;
	z-index: 1;
}
.best-seller{
	background: url("/Images/css-images/burst-best-selling.png") no-repeat;
	background-size: cover;
	width: 60px;
	height: 60px;
	position: absolute;
	left: 0;
	z-index: 1;
}
.view.product-detail .span6.text-center{
	position: relative;
}
.item-cell {
  position: relative;
}
.narrow-by-btn {
  background-color: #FFF;
  background-image: none;
  border: 1px solid #CCC;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #555;
  outline: none;
  text-shadow: none;

  &:hover,
  &:focus {
    background-color: #FFF;
    background-image: none;
    color: #555;
  }
}
