div#content {

  #product-detail {
    .shopping-cart-related-items {
      h3 {
        display: none;
      }
    }
    
    .item-detailed-reviews h4 {
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
    }
    .review-container {
      padding-bottom: 10px;
      article {
        padding: 10px;
        border-bottom: 1px solid #ccc;

      }
    }
    .accordion-inner {
      ul {
        margin: 0 0 9px 16px;
      }
    }
    #product-detail-inner-box {
      padding: 0 0 30px 0;
      width: 90%;
      margin-right: auto;
      margin-left: auto;

      ul#breadcrumbs {
        background: none;
        padding: 20px 0 5px 12px;

        .active,
        a {
          color: @font-dark-red;
        }
      }

      div.price-schedule > table {
        border-spacing: 1px;
        border-collapse: inherit;
        padding-bottom: 4px;

        thead th {
          color: @white;
          .gradient(bottom, @font-light-red, @font-dark-red);
        }
        tbody td {
          background-color: @white;
        }

        th, td {
          padding: 2px 6px;
        }
      }

      .item-detailed-page {

        .item-detailed-info {
          .btn-wine-red {
            margin-top: 20px;
          }
        }

        ul.nav-tabs li a {
          color: @font-dark-red;
          cursor: pointer;
        }
      }

      .accordion {
        .accordion-heading {
          background: @light-gray;
        }
      }

      .item-image-gallery {
        .video-thumb-wrapper {
          margin: 0px auto;
          max-width: 500px;

          .video-thumb-wrapper-inner {
            height: 0px;
            overflow: hidden;
            padding-top: 30px;
            padding-bottom: 56.25%;
            position: relative;

            iframe {
              height: 100%;
              left: 0;
              position: absolute;
              top: 0;
              width: 100%;
            }
          }
        }
        .bx-viewport{
          min-height: 500px;
          @media (max-width: 979px){
            min-height: inherit !important;
          }
          .freeshipping,
          .onsale,
          .newaccessories,
          .best-seller {
            height: 90px;
            width: 90px;
          }
        }
      }
    }
  }

}

.modal-container{
  #modal-body{
    #product-detail{
      .details-header{
        strong.lead-price{
          color: @font-dark-red;
          background-color: @white;
        }
      }
    }
  }
}

.item-detailed-info .page-header {
  .lead-price {
    color: #6B151D;
  }

  .sku-number {
    float: none;
  }

  h1 {
    font-size: 26px;
    line-height: 32px;
  }
}

.item-detailed-image-container .bx-wrapper .bx-viewport {
  min-height: 500px;
}

.item-detailed-image-container .bx-wrapper .bx-viewport li {
  min-height: 1px;
  min-width: 1px;
}

.price-red{color:#80040b;}
.text-sub{text-decoration: line-through; color: #333; font-weight: 300;}
.text-right{text-align:right; display:block;}
.text-bold{font-weight: bold;}

/* TavanoTeam custom styles */
aside.shopping-cart-related-items {
  div.related-item {
    .freeshipping{
      background: url("@{css-images-path}free_shippingYes.png") no-repeat;
      background-size: cover !important;
      width: 60px !important;
      height: 60px !important;
      position: absolute;
      left: 0;
      z-index: 1;
    }
    .onsale{
      background: url("@{css-images-path}onsale_burstYes.png") no-repeat;
      background-size: cover !important;
      width: 60px !important;
      height: 60px !important;
      position: absolute;
      left: 0;
      z-index: 1;
    }
    .newaccessories{
      background: url("/Images/css-images/iwa-new-item-burst.png") no-repeat;
      background-size: cover !important;
      width: 60px !important;
      height: 60px !important;
      position: absolute;
      left: 0;
      z-index: 1;
    }
    .best-seller{
      background: url("/Images/css-images/burst-best-selling.png") no-repeat;
      background-size: cover !important;
      width: 60px !important;
      height: 60px !important;
      position: absolute;
      left: 0;
      z-index: 1;
    }
  }
}

div.item-detailed-image-container {
  .freeshipping{
      background: url("@{css-images-path}free_shippingYes.png") no-repeat;
      background-size: cover !important;
      width: 80px !important;
      height: 80px !important;
      position: absolute;
      left: 0;
      z-index: 1;
    }
    .onsale{
      background: url("@{css-images-path}onsale_burstYes.png") no-repeat;
      background-size: cover !important;
      width: 80px !important;
      height: 80px !important;
      position: absolute;
      left: 0;
      z-index: 1;
    }
    .newaccessories{
      background: url("/Images/css-images/iwa-new-item-burst.png") no-repeat;
      background-size: cover !important;
      width: 80px !important;
      height: 80px !important;
      position: absolute;
      left: 0;
      z-index: 1;
    }
    .best-seller{
      background: url("/Images/css-images/burst-best-selling.png") no-repeat;
      background-size: cover !important;
      width: 80px !important;
      height: 80px !important;
      position: absolute;
      left: 0;
      z-index: 1;
    }
}