div#content {

  #product-review-form-inner-box {
    a {
      color: @font-dark-red;
    }

    .rating-area {
      background-image: url("@{css-images-path}red-star.png");
      width: 100px;
    }

    ul#breadcrumbs {
      padding: 20px 0 5px 12px;
    }

    #new-product-review {
      margin-top: 20px;
    }

  }

  #product-review-form-confirmation,
  #product-review-form-inner-box {
    padding: 0 0 30px 0;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}
