#item-product-reviews,
#product-review-form,
#product-review-form-preview {
  #product-review-form-inner-box {
    #breadcrumbs {
      background: none;
    }
  }
}
#product-review-form-inner-box, #product-review-form-confirmation {
  ul#breadcrumbs {
    background: none;
    padding: 20px 0 5px 12px;

    .active,
    a {
      color: @font-dark-red;
    }
  }
}