form, fieldset {background-color:#ffffff !important;}

/* HEADER */

#site-logo {padding-top:5px;}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container div.slogan-container h2#slogan-title {}
#contact-information div {margin-top:0 !important;padding-top:0 !important;}

/* Top right header area */
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper ul.nav li {border-left:0px !important;}

/* Shopping cart area */

header#site-header div.container {padding:0 !important;  margin:0 auto 0 auto!important;}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper ul.nav li {padding:0 !important;}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper ul.nav li a {font-size:15px !important;height:25px !important;vertical-align:middle !important;}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper .mini-cart-item-cell ul.nav li a:hover {color:#5f151b !Important;background-color:#ffffff !important;}

#top-signin a:hover {background-color:#ffffff !important;color: #9f2036 !important;}
#top-checkout a:hover {background-color:#ffffff !important;color: #9f2036 !important;}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper ul.nav li#mini-cart-container #top-cart a:hover {background-color:#ffffff !important;color: #3F1022 !important;}

/* mobile */
header#site-header div#site-header-container #site-header-inner-box .site-branding .mobile-logo .navbar-inverse .navbar-inner .container ul#mobile-login 
li  {background-color:#ffffff !important;}
header#site-header div#site-header-container #site-header-inner-box .site-branding .mobile-logo .navbar-inverse .navbar-inner .container ul#mobile-login 
li  a {color:#333333 !important;}


/* Shopping cart item count */
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper ul.nav li#mini-cart-container a.dropdown-toggle:hover .item-count strong 
{color: #3F1022;}
header#site-header div.container nav.site-header-top-nav div.navbar-inner div.container #mini-cart-wrapper ul.nav li#mini-cart-container a.dropdown-toggle .item-count strong 
{background-color:#ffffff;background-url:none;color:#000000;}
#mini-cart-container span.item-count {font-size:15px !important;height:25px !important;vertical-align:middle !important;}

/* Shopping cart icon */
#mini-cart-container span.icon-shopping-cart {width:25px !important;height:25px !important;}
#mini-cart-container a.dropdown-toggle:hover span.icon-shopping-cart
{background-image: url('https://checkout.netsuite.com/c.975151/Images/css-images/icon-shopping-cart-3.png') !important;background-position:0 0 !important;}
#mini-cart-container a.dropdown-toggle span.icon-shopping-cart
{background-image: url('https://checkout.netsuite.com/c.975151/Images/css-images/icon-shopping-cart-3.png') !important;background-position:0 0 !important;}

/* Contact info area */
#contact-information  .pull-right {padding-top:-17px !important;margin-top:-17px !important;}
#contact-information ul {float:none !important;}
#contact-information .pull-right .phone {float:left !important;font-family: Arial, sans-serif !important;font-weight:normal !important;
font-size:15px !important;color:#404040 !important;letter-spacing:0 !important;padding-top:2px !important;}
#contact-information .pull-right .LP_DIV_1365623063953 {float:none !important;}
#lpchat-label-1401493397897-5 {font-family: Arial, sans-serif !important;
font-size:14px !important;color:#77121a !important;font-weight:normal !important;}
#contact-information  .lpchat-label {font-family: Arial, sans-serif !important;
font-size:14px !important;color:#77121a !important;font-weight:normal !important;}

/* TOP NAVIGATION */

#main-nav-and-search-container a.level-1 {line-height:30px;}
#main-nav-and-search-container a.level-2 {margin-left:15px;}
#main-nav-and-search-container li.dropdown level-1 {height:400px;}
#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0:hover a.level-0:hover {
color:#971c1f !important;}
#main-nav-and-search-container ul.nav a.level-0 {font-size:15px !important;color:#404040 !important;text-transform:uppercase !important;font-weight:bold;}
#main-nav-and-search-container ul.nav li {}
#main-nav-and-search-container ul.nav {border-bottom:1px #404040 solid;border-top:1px #404040 solid;background-color:#ffffff !important;background-image:none !important;}
div#main-nav-and-search-container nav.site-header-main-nav .navbar-inner .nav li.level-0 .dropdown-menu.level-0 li.level-1 {
padding-left:10px !important;}

i.icon-minus-sign.pull-right {background-image: url('/Images/content-delivery-images/arrow-down.png');background-position:0 !important;}
i.icon-plus-sign.pull-right {background-image: url('/Images/content-delivery-images/arrow-right.png');background-position:0 !important;}


/* Order Summary */

.checkout-cart-summary-header {background-image:none !important;background-color:#EEE !important;border:0 !important}

.checkout-cart-summary-body {border:0 !important;}

/* Final checkout boxes */

.well {padding: 10px !important;}

/* Items Edit Order */

.cart-item-details .name {color:#80040B !important;}

.cart-item-details .lead-price {color:#333333 !Important;}