///////////////////////////////
//// VARIABLE DECLARATIONS ////
///////////////////////////////

@glyphicons-path: 'http://iwawine.cdn.netsuitestaging.com/IWA-ShopFlow/img';
@css-images-path: 'http://iwawine.cdn.netsuitestaging.com/Images/css-images';

// Whites
@white: #fff;
@sand: rgb(245, 246, 241);
@dark-sand: rgb(234, 231, 216);

// Blacks
@light-black: rgb(72, 72, 74);
@mid-black: rgb(33, 33, 35);
@black: #000;

// Grays
@light-gray: #EEE;
@mid-gray: #E4E4E5;
@font-mid-gray: #2D3338;
@background-mid-grey: rgb(233,233,233);
@gray: #666;
@dark-gray: #999;

// Reds
@font-dark-red: rgb(63,16,34);
@font-light-red: rgb(128, 50, 64);
@font-lighter-red: rgb(165, 60, 75);

// Colors
@dark-white: #F7F7F7;
@shadow-gray: #CCC;
@mid-light-gray: #D9D9D9;
@light-black: #161616;
@light-red: #C62F1E;
@light-orange: #cccccc;
@dark-orange: #666666;
@light-pink: #CB757D;
@shadow-pink: #DFAAAF;
@light-blue: #225F8B;

// Font families
@font-family-body: Arial,Helvetica,sans-serif;

///////////////////////////////
//// MIXINS ////
///////////////////////////////

.gradient (@origin: left, @start: #ffffff, @stop: #000000) {
    background-color: @start;
    background-image: -webkit-linear-gradient(@origin, @start, @stop);
    background-image: -moz-linear-gradient(@origin, @start, @stop);
    background-image: -o-linear-gradient(@origin, @start, @stop);
    background-image: -ms-linear-gradient(@origin, @start, @stop);
    background-image: linear-gradient(@origin, @start, @stop);
}
 
.three-color-gradient(@origin: left, @first-color: #ffffff, @first-color-percentage: 33%,
 @second-color: #000000, @second-color-percentage: 66%, @third-color: #ffffff, @third-color-percentage: 100%){
    background-color: @first-color;
    background-image: -webkit-linear-gradient(@origin, @first-color @first-color-percentage, @second-color @second-color-percentage, @third-color @third-color-percentage);
    background-image: -moz-linear-gradient(@origin, @first-color @first-color-percentage, @second-color @second-color-percentage, @third-color @third-color-percentage);
    background-image: -o-linear-gradient(@origin, @first-color @first-color-percentage, @second-color @second-color-percentage, @third-color @third-color-percentage);
    background-image: -ms-linear-gradient(@origin, @first-color @first-color-percentage, @second-color @second-color-percentage, @third-color @third-color-percentage);
    background-image: linear-gradient(@origin, @first-color @first-color-percentage, @second-color @second-color-percentage, @third-color @third-color-percentage);
}

.group:before,
.group:after {
    content: '';
    display: table;
}
.group:after {
    clear: both
}
.group {
    zoom: 1
}

.inline-block {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.inline-block-important {
    display: inline-block !important;
    *display: inline !important;
    zoom: 1 !important;
}

.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.box-sizing(@type) {
  -webkit-box-sizing: @type;
  -moz-box-sizing: @type;
  box-sizing: @type;
}

body {
  font-family: sans-serif;
    font-size: 14px;
  .three-color-gradient(top, @light-gray, 20%, @background-mid-grey, 40%, @white, 100%);
}

.btn-wine-gray {
  color: @white !important;
  border: none !important;
  .border-radius(4px) !important;
  font-size: 14px !important;
  .gradient(bottom, @dark-gray, @gray) !important;
  .inline-block-important;
  padding: 10px 20px !important;
  text-align: center !important;
  text-decoration: none !important;

  &:hover {
    color: @white !important;
    .gradient(bottom, @gray, @dark-gray) !important;
    text-decoration: none !important;
  }
}

.btn-wine-red {
  color: @white !important;
  border: none !important;
  .border-radius(4px) !important;
  font-size: 14px !important;
  .gradient(bottom, @font-light-red, @font-dark-red ) !important;
  .inline-block-important;
  padding: 10px 20px !important;
  text-align: center !important;
  text-decoration: none !important;

  &:hover {
    color: @white !important;
    .gradient(bottom, @font-dark-red, @font-light-red ) !important;
    text-decoration: none !important;
  }
}

iframe.cd-iframe-newsletter {
  border: none;
  width: 100%;
}

// hovers
.navbar .nav>li>a:focus, .navbar .nav>li>a:hover {
  color: #80040b;
}
#site-header .site-header-top-nav .navbar-inner .nav > li a:hover {
  color: #ad2b2b;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a,
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{
  background-color: #80040b;
  background-image:none;
  div {
    color: #fff !important;
  }
}
// default orange color parts
@primary-color:#80040b;
@primary-color-hover:#BB0610;

a {color: @primary-color;}
a:hover, a:focus {color:@primary-color-hover; text-decoration: none; }

.lead-price {
  color: @primary-color;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  background: @primary-color-hover;
}
.btn-primary {
  background-color: @primary-color;
  background-image:none;
}
.facet-header>h1>b {
  color: @primary-color;
}

//sprite
.item-listing-display .btn i, .facet-well i.icon-ok, .facet-well i.icon-chevron-down, .facet-well i.icon-chevron-right {
   background-image: url("@{css-images-path}/sprite.png");
}

.modal-header .close {
  color: #333 !important;
  font-size: 30px !important;
  line-height: 30px !important;
}

//////////////////////////////
////     ICONS CLASSES     ////
//////////////////////////////

.black-cart-icon{
    background-image: url("@{glyphicons-path}/glyphicons-halflings-white.png");
}

.red-sprite-background-image{
    background-image: url("@{css-images-path}/red-sprite.png");
}

#layout-inner-box{
    outline: 1px solid red;
}

@import 'sections/header.less';
@import 'sections/footer.less';
@import 'sections/login.less';
@import 'sections/wizard.less';
@import 'sections/page_not_found.less';
@import 'sections/responsive.less';
