
/* Header */

#header div.contact-info {text-align:left;float:right;font-family: 'Oswald', sans-serif;font-size:19px !important;
font-weight:normal;color:#323232;margin-top:1%;float:none;text-align:center;}

#header img.logo {width:72% !important;height:auto;}

#header h2 {font-family: 'Oswald', sans-serif;font-size:12px;font-weight:normal;color:#6f6e6e;}

#header a {text-decoration:none;font-family: 'Oswald', sans-serif;font-size:23px;font-weight:normal;color:#961b21;}
#header a:hover {text-decoration:underline;font-family: 'Oswald', sans-serif;font-size:23px;font-weight:normal;color:#961b21;}

/* Navigation */

#navigation {margin:2% 0 2% 0;}

#navigation span {font-size:23px;margin-right:2% !important;}
#navigation span.right {margin-right:0% !important;}
#navigation a {font-size:23px;margin-right:2% !important;}
#navigation a.right {font-size:23px;}

#navigation img {display:none;}

/* Content */

#home-content img.spot {float:none !important;display:none;}
#home-content img.spotplan {float:none !important;display:none;}
#home-content img.spot-install {float:none !important;margin-left:2%;margin-right:0.5%;width:87%;height:auto;}
#home-content img.testimonials {display:none;}

#home-content h1 {padding-left:2%;font-family: 'Arapey', serif !important;font-size:35px !important;font-weight:normal;
color:#8e5c39;line-height:35px !important;text-align:center !Important;}

#home-content h2 {display:none;}
#home-content img.plan-features {display:none;}
#home-content img.plan-doors {display:none;}

#home-content p {padding-left:3%;padding-top:2%;font-family: 'Abel', sans-serif;font-size:16px;font-weight:normal;
color:#403f3b;text-align:left;text-align:center;line-height:20px !important;padding-bottom:4% !important;}

#design-left {float:none !important;width:95% !important;}
#design-left img.design {display:none;}
#design-left iframe {width:250px !important;height:400px !important;}
#design-left p.request {display:none;}
#design-right {float:none !important;text-align:center !important;width:90% !important;}
#design-right h2 {text-align:center !important;padding-left:3%;font-family: 'Arapey', serif;
font-size:20px !important;font-weight:normal;color:#8e5c39;line-height:30px;text-align:center !important;}
#design-right p.getstarted {display:none;}
#design-right img.spot-getstarted {display:none;}
#design-right h3 {display:none;}

/* Footer */

#footer-color {display:none;}

#footer-color div.footer-sm {display:none;}
#footer-color div.footer-family {display:none;}

 /* On Page Form */
  
label{ text-align:left;float:none;width:200px; display:block;color:3b3b3b; font-family:'Verdana', Verdana, sans-serif;font-size:12px; padding-top:5px;}
input { width:200px; color:#3b3b3b !important; font-size:11px; border:1px solid #cccccc; margin:3px 0 }
input.submit {background-color:#810000;font-size:18px;color:#ffffff !important;height:30px;}
select { width:200px; color:#3b3b3b; font-size:11px; border:1px solid #cccccc; margin:3px 0 }
textarea {width:200px; color:#3b3b3b; font-size:11px; border:1px solid #cccccc}
 