/* http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, 
h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, 
sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, 
aside, canvas, details, embed, figure, figcaption, footer, header, 
hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{margin:0;padding:0;border:0;font-size:100%;font:inherent;vertical-align:baseline;}

/* HTML5 display-role reset for older browsers */
body {width:100%;height:auto;background-color:#ffffff;}
img {margin:0;padding:0;border:0;}

/* Header */

#header {max-width:1200px;width:90%;padding-top:0.7%;padding-bottom:1%;text-align:center;margin:0.5% auto auto auto;}
#header h2 {font-family: 'Open Sans Condensed', sans-serif;font-size:17px;font-weight:normal;color:#6f6e6e;}
#header div.contact-info {text-align:left;float:right;font-family: 'Oswald', sans-serif;font-size:22px;font-weight:normal;color:#323232;margin-top:-5%;}
#header a {text-decoration:none;font-family: 'Oswald', sans-serif;font-size:25px;font-weight:normal;color:#961b21;}
#header a:hover {text-decoration:underline;font-family: 'Oswald', sans-serif;font-size:25px;font-weight:bold;color:#961b21;}
#header img.logo {width:22%;height:auto;}

/* Navigation */

#navigation {text-align:center;margin:1% 0 1% 0;}
#navigation span {border-bottom:2px solid #cabfaa;margin-right:6%;letter-spacing:1px;
font-family: 'Oswald', sans-serif;font-size:23px;font-weight:normal;color:#7e7e7e;text-transform:uppercase;}
#navigation span.right {margin-right:0;}
#navigation a {border-bottom:2px solid #cabfaa;margin-right:6%;text-decoration:none;letter-spacing:1px;
font-family: 'Oswald', sans-serif;font-size:23px;font-weight:normal;color:#961b21;text-transform:uppercase;}
#navigation a:hover {color:#8e5c39;border-bottom:2px solid #961b21;}
#navigation a.right {border-bottom:2px solid #cabfaa;margin-right:0;text-decoration:none;
font-family: 'Oswald', sans-serif;font-size:23px;font-weight:normal;color:#961b21;text-transform:uppercase;}
#navigation a.right:hover {color:#8e5c39;border-bottom:2px solid #961b21;}
#navigation a.img {border-bottom:0;margin:0;}
#navigation img {margin-right:7px;margin-top:0;}

/* Main Content */

#home-content {max-width:1200px;padding:1% 2% 2% 2%;margin:auto;width:90%;text-align:center;}
#home-content h1 {padding-left:3%;font-family: 'Arapey', serif;font-size:40px;font-weight:normal;color:#8e5c39;line-height:42px;text-align:left;}
#home-content h1.get-started {margin-top:2%;}
#home-content h2 {padding:1% 0 1% 3%;font-family: 'Arapey', serif;font-size:30px;font-weight:normal;color:#7e7e7e;line-height:42px;text-align:left;}
#home-content p {padding-left:3%;padding-top:2%;font-family: 'Open Sans Condensed', sans-serif;font-size:18px;font-weight:normal;color:#464646;text-align:left;}
#home-content a {text-decoration:none;font-family: 'Oswald', sans-serif;font-size:25px;font-weight:normal;color:#961b21;}
#home-content a:hover {text-decoration:underline;font-family: 'Oswald', sans-serif;font-size:25px;font-weight:normal;color:#961b21;}

/* Page Specific Content */

#home-content img.spot {float:right;margin:0 0 1% 2%;width:25%;height:auto;}
#home-content img.spotplan {float:right;margin:0 0 1% 5%;width:35%;height:auto;}
#home-content img.plan-doors {float:right;margin-left:0.5%;margin-right:0.5%;width:19%;height:auto;}
#home-content img.plan-features {margin-left:0.5%;margin-right:0.5%;width:18.4%;height:auto;}
#home-content img.spot-install {float:right;margin-left:2%;margin-right:0.5%;width:37%;height:auto;}
#home-content img.testimonials {width:95%;height:auto;}
img.get-started {width:95%;max-width:1200px;height:auto;text-align:center;}

#design-left {float:left;width:63%;}
#design-left img.design {width:65%;height:auto;}
#design-left iframe {width:600px;height:500px;}

#design-right {float:right;text-align:left;width:35%;}
#design-right h2 {padding-left:3%;font-family: 'Arapey', serif;font-size:40px;font-weight:normal;color:#8e5c39;line-height:42px;text-align:left;}
#design-right h3 {font-family: 'Oswald', sans-serif;font-size:18px;padding:7% 0 1% 3%;margin:0;
font-weight:normal;color:#464646;line-height:42px;text-align:left;line-height:0;}
#design-right h3.top {padding-top:3%;}
#design-right span.phone {font-family: 'Oswald', sans-serif;font-size:25px;font-weight:normal;}
#design-right a {text-decoration:none;font-family: 'Oswald', sans-serif;font-size:15px;font-weight:normal;color:#961b21;}
#design-right a:hover {text-decoration:underline;font-family: 'Oswald', sans-serif;font-size:15px;font-weight:normal;color:#961b21;}
#design-right img.spot-gettingstarted {float:left;margin-right:3%;width:30%;}
#design-right p.getstarted {margin-bottom:12%;}
/* Footer */

#footer-color {text-align:center;width:100%;background-color:#f3ebdc;margin:auto;padding:1% 0 1% 0;height:auto;overflow:auto;}
#footer-color div.wrap {max-width:1350px;padding:1%;width:85%;margin:auto;text-align:center;}
#footer-color div.footer-sm {padding:1%;float:left;margin:auto;width:15%;position:relative;display:block;}
#footer-color div.footer-info {font-family: 'Open Sans Condensed', sans-serif;font-size:14px;font-weight:normal;color:#000000;
padding:1% 2% 1% 1%;float:left;margin:auto;width:38%;text-align:left;position:relative;display:block;letter-spacing:1px;}
#footer-color div.footer-family {border-left:2px solid #bababa;padding:1%;float:left;margin:auto;width:10%;text-align:left;position:relative;display:block;}
#footer-color div.footer-tagline {padding:1%;float:left;margin:auto;width:25%;position:relative;display:block;}

#footer-color a.footer-family {text-decoration:none;line-height:28px;color:#403f3b;font-family: 'Open Sans Condensed', sans-serif;font-size:17px;font-weight:bold;}
#footer-color a:hover.footer-family {text-decoration:underline;line-height:28px;color:#403f3b;font-family: 'Open Sans Condensed', sans-serif;font-size:17px;font-weight:bold;}
#footer-color h3 {font-family: 'Ledger', serif;font-size:32px;font-weight:normal;color:#626160;text-transform:uppercase;}
#footer-color h4 {font-family: 'Arapey', serif;font-size:21px;font-weight:normal;color:#626160;text-transform:uppercase;}
#footer-color img.sm {margin:-1% 0 3% 0;padding:0;}

/* Photo Slider Rotating */

#slider1 {width:90%;}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0 auto 1% auto;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
  
  /* On Page Form */

form{ width:100%}
label{ margin-left:3%;text-align:left;width:200px; font-family:'Verdana', Verdana, sans-serif;float:left;display:block;color:#3b3b3b; font-size:14px; padding-top:15px;}
input {width:300px; color:#3b3b3b !important; font-size:11px; border:1px solid #cccccc; margin:3px 0 }
input.submit {background-color:#810000;font-size:18px;color:#ffffff !important;height:30px;}
select { width:300px; color:#3b3b3b; font-size:11px; border:1px solid #cccccc; margin:3px 0 }
textarea {width:300px; color:#3b3b3b; font-size:11px; border:1px solid #cccccc}
.inputrec { background:#E6E6E6 !important; color:#3b3b3b !important}
