
/* Header */

#header div.contact-info {text-align:left;float:right;font-family: 'Oswald', sans-serif;font-size:22px;
font-weight:normal;color:#323232;margin-top:1%;float:none;text-align:center;}

#header img.logo {width:42%;height:auto;}

/* Navigation */

#navigation {margin:2% 0 2% 0;}

#navigation span {font-size:19px;margin-right:10%;}
#navigation span.right {margin-right:0%;}
#navigation a {font-size:19px;margin-right:10%;}
#navigation a.right {font-size:19px;}

#navigation img {margin-right:5px;width:18px;height:auto;}

/* Content */

#home-content h1 {padding-left:3%;font-family: 'Arapey', serif;font-size:27px;font-weight:normal;color:#8e5c39;
line-height:25px;text-align:left;}
#home-content h2 {padding:1% 0 1% 3%;font-family: 'Arapey', serif;font-size:25px;font-weight:normal;color:#7e7e7e;
line-height:20px;text-align:left;}

#home-content img.spot {float:right;display:none;}
#home-content img.spotplan {float:right;display:none;}
#home-content img.plan-doors {float:right;margin-left:0.5%;margin-right:0.5%;width:18.5%;height:auto;}
#home-content img.plan-features {margin-left:0.5%;margin-right:0.5%;width:17.4%;height:auto;}
#home-content p {font-size:15px;line-height:20px;}

#design-left {float:left;width:54%;}
#design-left iframe {width:500px;height:440px;}
#design-right {float:right;text-align:left;width:45%;}
#design-right h2 {padding-left:3%;font-family: 'Arapey', serif;
font-size:27px;font-weight:normal;color:#8e5c39;line-height:30px;text-align:left;}
#design-right h3.top {padding-top:0;}
#design-right h3 {font-size:15px;padding:5% 0 2% 5%;}
#design-right img.spot-gettingstarted {display:none;}
#design-right span.phone {font-size:15px;}
#design-right a {font-size:13px;line-height:20px;}
#design-right a:hover {font-size:13px;line-height:20px;}
#design-right p.getstarted {margin:0 0 3% 2%;}

/* Footer */

#footer-color {text-align:center;width:100%;background-color:#f3ebdc;margin:auto;
padding:1% 0 1% 0;height:125px;overflow:auto;}

#footer-color div.wrap {padding:1% 0 1% 0;width:200px;margin:auto;text-align:center;}

#footer-color div.footer-sm {height:50px;padding:1%;float:left;margin:auto;width:5%;position:relative;}
#footer-color div.footer-family {border-left:2px solid #bababa;padding:1%;float:left;
margin:0 0 0 100px;width:10%;position:relative;}

#footer-color div.footer-info {display:none;font-size:1px;}
#footer-color div.footer-tagline {display:none;}

#footer-color a.footer-family {padding-left:15px;text-decoration:none;line-height:28px;color:#403f3b;font-family: 'Abel', sans-serif;font-size:17px;font-weight:normal;}
#footer-color a:hover.footer-family {padding-left:15px;text-decoration:underline;line-height:28px;color:#403f3b;font-family: 'Abel', sans-serif;font-size:17px;font-weight:normal;}
