footer#site-footer {
    border-bottom: 0;

    div.container{
        
        background-color: white;
        border-top: none;

        #site-footer-inner-box{
            width:90%;
            margin-right: auto;
            margin-left: auto;
            border: 1px solid rgb(217, 217, 217);

            div.footer-1 {
                background-color: @light-gray;
                font-weight: bold;
                font-size: 11px;
                padding: 10px 0 0 0;
                margin-top:0;
                
                div.span3 {
                    padding-left: 20px;
                    
                    dl {
                        color: @font-dark-red;
                    }
                    dd {
                        color: @font-mid-gray;
                        margin: 0;
                        padding: 3px 0;
                        line-height: 11px;
                    
                        a {
                            color: @font-mid-gray;
                            text-decoration: none;
                            &:hover, &:focus {
                                color: @font-dark-red;
                            }
                        }
                    }
                }

                aside.footer-newsletter {
                    #newsletter-signup-form {
                        margin: 11px 0px 0px 0px;

                        legend {
                            border: none;
                            color: @font-dark-red;
                            font-size: 13px;
                            line-height: 1em;
                            margin-bottom: 5px;
                            text-transform: uppercase;
                        }

                        .form-inputs {
                            input {
                                width: 60%;
                            }

                            button {
                                font-size: 10px;
                                line-height: 18px;
                                padding: 4px 0px;
                                width: 25%;
                            }
                        }
                    }

                    #newsletter-msg {
                        margin: 11px 0px 0px 0px;
                    }
                }
            }

            div.footer-2 {
                background-color: @mid-gray;
                font-size: 11px;
                font-weight: bold;
                line-height: 18px;
                padding: 10px 0;
                text-align: center;

                #footer-additional-links {
                  min-height: 18px;
                }

                ul.hidden-phone {
                    .inline-block;
                    line-height: inherit;
                    list-style: none;
                    margin: 0;
                    text-align: center;

                    li {
                        border-right: 1px solid @black;
                        float: none;
                        line-height: inherit;
                        padding: 0 10px;

                        a {
                            color: @black;
                            line-height: inherit;
                            text-decoration: underline;
                        }
                    }
                    li:last-child {
                        border: none;
                    }
                }

                ul.visible-phone {
                  font-size: 16px;
                  font-weight: normal;
                  margin: 0px auto;
                  text-align: left;
                  width: 90%;

                  li i {
                    float: right;
                  }
                }

                #footer-collapse {
                  background-color: #e4e4e5;
                }
                .footer-collapse-toggle {
                  .icon-plus-sign {
                    display: none;
                  }
                  .icon-minus-sign {
                    display: block;
                  }

                  &.collapsed {
                    .icon-plus-sign {
                      display: block;
                    }
                    .icon-minus-sign {
                      display: none;
                    }
                  }
                }
            }

            div.footer-3 {
                padding: 10px 0 0 0;
                background: #FFFFFF;
                ul.credit-cards {
                    .inline-block;
                    list-style: none;
                    margin: 0;
                    padding-left: 20px;

                    li {
                        float: left;
                        padding-right: 0;
                        margin: 0 10px;
                    }
                }

                div.copyright-info {
                  text-align: center;

                  small {
                    color: @font-mid-gray;
                    font-size: 11px;
                    font-weight: bold;
                  }
                }

                div.footer-verisign ul {
                    float: right;
                    list-style: none;

                    li {
                        float: left;
                        margin: 0 10px;
                    }
                }
            }
        }
    }
}
