header#site-header {
  line-height: 18px;

  li.dropdown-submenu.pull-left{
    float: left !important;
    width: auto !important;
    text-transform: capitalize !important;
  }
  div.container {
    background-color: white;
    line-height: inherit;

    div.site-logo.content-banner {
      width:15%;
      min-width:112px;
      float: left;

      a {
        padding: 0px 0px 3px 0px;
      }

      a:focus {
        outline: 2px solid @font-dark-red;
      }
    }

    nav.site-header-top-nav {
      height: auto;
      line-height: inherit;
      margin-bottom: 0px;
      width: auto;

      div.navbar-inner {
        background-color: white;
        background-image:none;
        box-shadow: none;
        padding: 0;
        border: 0;

        div.container {
          padding: 2px 0 0 0;

          .pull-left {
            margin-top: -40px;
          }

          .pull-right .site-search {
            margin-bottom: 0px;
          }

          div.slogan-container {
            margin-top: -40px;
            padding: 5px 0px 10px 0px;
            text-transform: uppercase;

            h2#slogan-title {
              font-size: 120%;
              margin: 0;
              font-weight: normal;
              line-height: 150%;
              padding-top: 20px;
            }

            div#slogan-subtitle {
              color: @font-dark-red;

              span {
                color: @font-mid-gray;
              }
            }
          }

          div.pull-right.visible-md {
            padding-right: 12px;

            a {
              color: @mid-black;
              box-shadow: none;
              text-shadow: none;
              outline: 0;
            }

            a:focus {
              background-color: @font-dark-red;
              color: @white;
              outline: 2px solid @font-dark-red;
            }
          }
          #mini-cart-wrapper {
            padding: 0;
            margin: 0;

            ul.nav {
              padding: 5px 0 0 0;
              margin: 0;

              li {
                border-left: 1px solid @background-mid-grey;
                padding: 0 10px;

                a {
                  color: @mid-black;
                  box-shadow: none;
                  text-shadow: none;
                  outline: 0;
                  padding: 10px;
                }

                a:hover,
                a:focus {
                  background-color: @font-dark-red;
                  color: @white;
                }
              }

              li:first-child {
                border-left: none;
              }

              li:last-child {
                padding-right: 0;
              }

              li#my-account-container {
                & > .dropdown-menu {
                  z-index: 2000;
                }

                li.my-account-item-cell {
                  a:hover,
                  a:focus {
                    .gradient(top, @font-dark-red, @font-light-red);
                    color: @white;
                  }
                }
              }

              li#mini-cart-container {
                .dropdown-menu {
                  border: 6px solid @font-dark-red;
                  width: 16em;
                  right: 0;
                  left: inherit;
                  font: 14px Arial;
                  z-index: 2000;

                  ul.items {
                    list-style: none;
                    margin: 0;
                    max-height: 245px;
                    overflow: auto;

                    li.mini-cart-item-cell {
                      border-top:1px solid @font-dark-red;
                      a.row-fluid {
                        max-width: 170px;
                        font: 14px Arial;
                      }

                      a:hover,
                      a:focus {
                        background-color: transparent;
                        color: @white;
                      }
                      .mini-cart-item-details {
                        margin-top: -18px;
                      }
                    }
                  }

                  ul.summary {
                    border-top: 6px solid #3f1022;
                    list-style: none;
                    margin: 0;
                    padding: 5px;

                    li {
                      padding: 0;
                    }
                  }
                }

                a.dropdown-toggle {
                  background-color: white;

                  .item-count strong {
                    background: none repeat scroll 0% 0% @font-dark-red;
                    color: @white;
                    border-radius: 50% 50% 50% 50%;
                    display: inline-block;
                    font-weight: normal;
                    padding: 1.5px;
                    text-align: center;
                    min-width: 15px;
                  }
                }

                a.dropdown-toggle:hover,
                a.dropdown-toggle:focus {
                  background-color: @font-dark-red;

                  span.icon-shopping-cart {
                    .black-cart-icon;
                  }

                  .item-count strong {
                    background: none repeat scroll 0% 0% @white;
                    color: @font-dark-red;
                  }
                }
              }
            }
          }
        }

        #site-search-container {
          .site-search {
            .search-query,
            .btn {
              .border-radius(0px);
            }
          }
        }
      }

      #contact-information {
        margin-top: 10px;

        .pull-right {
          list-style: none;
          margin: 0px;

          .phone {
            color: #000;
            letter-spacing: 2px;
            line-height: 28px;
            float: right;
            font-size: 18px;
            font-weight: bold;
          }

          .live-person {
            float: left;
          }
        }
      }
    }

    button#mobile-menu-toggle-button {
      .gradient(top, @font-dark-red, @font-light-red );
      color: @white;
    }

    div#main-nav-and-search-container {
      background: black;
      margin: 0;

      nav.site-header-main-nav {
        background: black;
        border-top: 0;
        margin: 0;
        padding: 0;

        .navbar-inner {
          background: black;
          border: 0;
          .border-radius(0px);
          margin: 0;
          min-height: inherit;
          padding-left: 0px;
          padding-right: 0px;
          position: relative;

          .nav {
            background: black;
            margin-right: 0px;
            position: static;
            width: 100%;

            li.level-0 {
              position: static;

              &:hover,
              &:focus {
                background: white;

                & > .dropdown-menu {
                  display: block;
                }

                a.level-0 {
                  background: white;
                  color: black;

                  &:hover,
                  &:focus {
                    background: white;
                  }
                }
              }

              a.level-0 {
                color: white;
                font-size: 16px;
                padding: 8px 10px;
                text-shadow: none;
                text-transform: none;

                &:hover,
                &:focus {
                  background: white;
                  color: black;
                }
              }

              .dropdown-menu {
                border: none;
                .border-radius(0px);
                margin: 0px;

                &:before,
                &:after {
                  display: none;
                }
              }

              .dropdown-menu.level-0 {
                background: transparent url("@{css-images-path}dropdown-background.png") repeat;
                border: none;
                .border-radius(0px);
                margin: 0px;
                width: 100%;

                a {
                  color: @font-dark-red;
                  font-size: 13px;
                  overflow: hidden;
                  padding: 0px;
                  text-decoration: none;
                  text-overflow: ellipsis;
                  text-shadow: none;
                  text-transform: none;

                  &:hover,
                  &:focus {
                    background: none;
                  }

                  &:after {
                    content: '';
                    display: none;
                  }
                }

                .category-row {
                  display: table;
                  list-style: none;
                  margin: 0px 5px;

                  &.level-1,
                  &.level-2 {
                    margin: 0px;
                  }

                  .dropdown-submenu.level-1:last-child {
                      border-right: none;
                  }
                }

                li.dropdown.level-1,
                li.dropdown-submenu.level-1,
                li.level-1 {
                  border-right: 1px solid #B5B5B5;
                  display: table-cell;
                  margin: 10px 5px 0px 5px;
                  max-width: 200px;
                  min-width: 200px;
                  padding-left: 10px;
                  width: 200px;

                  & > a {
                    background: transparent;
                    color: @font-dark-red;
                    font-weight: bold;
                    padding: 3px 0;
                  }

                  &:first-child {
                    padding-left: 0px;
                  }

                  &:last-child {
                    border-right: none;
                  }

                  .dropdown-menu.level-1 {
                    background: transparent;
                    border: none;
                    box-shadow: none;
                    display: block;
                    position: static;
                    width: 100%;
                  }
                }
                li.level-2 {
                  & > a {
                    padding: 3px 0;
                  }

                  .dropdown-menu.level-2 {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }

      div#site-search-container {
        padding: 0;
        margin: 0;

        nav.navbar {
          padding:5px 0 0 0px;

          ul.nav.navbar-nav {
            li {
              a {
                color: @font-dark-red;

                outline: 0;
                padding-left: 12px;
                padding-right: 12px;
                font-size: 100%;
              }

              a:hover,
              a:focus {
                .gradient(top, @font-dark-red, @font-light-red );
                color: @white;
                font-weight: normal;
                box-shadow: none;
                text-shadow: none;
              }
            }
          }
        }

        div.pull-right {
          height: 40px;
          padding: 10px 0 0 0;

          form.form-search.site-search {
            padding: 0 10px 0 0;
            margin: 0;

            .input-append {
              ul.dropdown-menu {
                li a:hover,
                li a:focus,
                li.active a {
                  .gradient(top, @font-dark-red, @font-light-red );
                  color: @white;
                }
              }
            }

            input.input-medium.search-query:hover,
            input.input-medium.search-query:focus {
              border-color: rgba(107, 21, 29, 0.8);
              -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(107,21,29,.6);
              -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(107,21,29,.6);
              box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(107,21,29,.6);
            }
          }
        }
      }
    }
  }
  div#site-header-container {
    #site-header-inner-box {
      line-height: inherit;
      width: 90%;
      margin-right: auto;
      margin-left: auto;

      .site-branding {
        .mobile-logo {
          text-align: center;
          padding-bottom: 10px;

          .site-logo,
          h2 {
            .inline-block;
            font-weight: normal;
            float: none;
          }

          .site-logo {
            min-width: 50px;
            padding: 0px;
            position: relative;
            top: -21px;
            width: 110px;

            a {
              display: block;

              img {
                margin: 0px 0px 0 0;
                padding: 0;
                width: 100px;
              }
            }
          }

          h2 {
            font-size: 22px;
            height: 50px;
            line-height: 25px;
            margin: 7px 0 0 0;
            padding: 0;
            text-align: left;
            text-transform: capitalize;
            width: 180px;
          }

          #mobile-phone {
            padding: 0;
            margin-left: -6%;
            float: left;

            li {
              letter-spacing: 2px;
              list-style-type: none;
              font-size: 18px;
              color: #000;
              font-weight: bold;
              line-height: 28px;
            }
          }

          .navbar-inverse {
            margin: 0 -3%;

            .navbar-inner {
              background: none;
              border: none;

              .container {
                ul#mobile-login {
                  float: right;
                  padding: 0 5px 0 0 ;
                  list-style: none none outside;
                  margin: 0;
                  font-size:10px;

                  li {
                    display: inline-block;
                    padding: 5px 15px;
                    font-size: 15px;
                    background: #333;
                    &:hover {
                      background: #000;
                    }
                    a {
                      color: #FFF;
                    }
                  }
                }

                ul#mobile-cart-summary {
                  list-style: none none outside;
                  padding: 5px 15px;
                  font-size: 15px;
                  background: @font-light-red;
                  margin: 0 -6% 0 0;
                  a {
                    font-size: 15px;
                    color: #FFF;
                  }
                }

                .btn-navbar {
                  margin: 0px 5px 0px 0px;
                }
              }
            }
          }
        }

        #mobile-search-container {
          clear: both;
          margin: 15px 0 0;
          width: 100%;

          form {
            background-color: #444;
            margin: 0 -6%;

            input.input-medium.search-query {
              width: 94%;
            }

          }
        }
   // mobile menu
        #mobile-main-menu-container {
          .site-header-main-nav  {
            margin: 0 -6%;
            width: auto !important;

            .navbar-inner {
              background: black;
              border: none;
              .border-radius(0px);

              & > a {
                color: white;
                font-weight: bold;
                text-shadow: none;
                text-decoration: none;

                &:hover,
                &:focus {
                  background: white;
                  color: black;
                }
              }

              #accordion-0 {
                background: black;
              }

              .accordion {
                .accordion-group {
                  border: none;

                  .accordion-heading {
                    padding: 15px;

                    .accordion-toggle {
                      color: white;
                      font-size: 16px;
                      font-weight: bold;
                      text-decoration: none;

                      i {
                        .inline-block;
                      }

                      &.collapse-toggle {
                        background-image: url("@{css-images-path}arrow-down.png");
                        background-position: right center;
                        background-repeat: no-repeat;

                        &.collapsed {
                          background-image: url("@{css-images-path}arrow-right.png");
                        }
                      }
                    }
                  }

                  .accordion-body {
                    .accordion-inner {
                      background: @dark-gray;
                      border: none;
                    }
                  }
                }
              }

              .mobile-profile {
                li a {
                  color: white;
                  font-weight: bold;
                  padding: 15px 30px;
                  text-shadow: none;
                  &:hover {
                    background-color: #333333;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* TavanoTeam custom styles */

// View Cart
span#mobile-cart-icon, span#mobile-cart-link, span#account-icon, span#signin-icon { display: none; }
