div#landing-page-header > div.row-fluid {
  margin: auto;
  width: 90%;

  #breadcrumbs {
    background: none;
    padding: 20px 0px 5px 12px;
  }

  #breadcrumbs a,
  #breadcrumbs .active,
  h1 {
    color: @font-dark-red;
  }
}

div#landing-page-content {
  margin: auto;
  width: 90%;

  #landing-content {
    padding: 20px;
  }

  h1,
  h2,
  h3,
  a,
  strong,
  address strong {
    color: @font-dark-red;
  }

  h2 {
    margin-top: 40px;
  }

  iframe.cd-iframe {
    border: none;
    margin: 40px 0;
    width: 100%;
  }

  .text-center {
    text-align: center;
  }

  .uppercase {
    text-transform: uppercase;
  }

  #request-catalog-aside {
    padding: 20px;
  }
}

#home-page {
  .bx-wrapper .bx-pager.bx-custom-pager a {
    text-indent: 0; 
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    }
  .bx-wrapper .bx-pager.bx-custom-pager a:hover,
  .bx-wrapper .bx-pager.bx-custom-pager a.active {
    background: #000000;
    border: 1px solid transparent;
    }
  }