//Windows Phone Responsive Fix
@-ms-viewport {
	width: device-width;
}

@media (max-width: 1200px) {
  header#site-header {
    div.container {
      div#main-nav-and-search-container {
        nav.site-header-main-nav {
          .navbar-inner {
            .nav {
              li.level-0 {
                font-size: 14px;

                .dropdown-menu.level-0 {
                  display: none !important;
                }
              }
            }
          }
        }
      }
    }
  }

  #homepage-intro-text {
    .intro-left {
      display: block !important;
      float: none !important;
      margin: 0px auto !important;
      max-width: 100% !important;
    }

    .intro-right {
      display: block !important;
      float: none !important;
      margin: 10px auto 0px auto !important;
    }
  }
}

@media (max-width: 980px) {
  header#site-header {
    div.container {
      div#main-nav-and-search-container {
        nav.site-header-main-nav {
          .navbar-inner {
            .nav {
              li.level-0 {
                font-size: 14px;

                a.level-0 {
                  font-size: 12px;
                  padding: 8px 6px;
                }

                .dropdown-menu {
                  display: none !important;
                }
              }
            }
          }
        }
      }
    }
  }

  footer#site-footer {
    div.container {
      #site-footer-inner-box {
        div.footer-1 {
          aside.footer-newsletter {
            #newsletter-signup-form {
              .form-inputs {
                width: 80%;

                input {
                  .box-sizing(border-box);
                  display: block;
                  float: none;
                  height: 25px;
                  width: 100%;
                }

                button {
                  display: block;
                  float: none;
                  width: 100%;
                }
              }
            }
          }
        }

        div.footer-3 {
          ul.credit-cards {
            li {
              margin: 0px 1px;
            }
          }

          div.copyright-info {
            text-align: center;
          }

          div.footer-verisign {
            ul li {
              margin: 0px 2px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  /* .freeshipping {
    background: url("/Images/css-images/asf_free_shippingYes-90.png") no-repeat !important;
    width: 90px !important;
    height: 90px !important;
    position: absolute !important;
    left: 0;
    z-index: 1;
  }
  .onsale {
    background: url("/Images/css-images/asf_onsale_burstYes-90.png") no-repeat !important;
    width: 90px !important;
    height: 90px !important;
    position: absolute !important;
    right: 0;
    z-index: 1;
  } */

  #site-header {
    padding: 0px;
  }

  /* TavanoTeam custom styles */

  // Header - Logo
  div.mobile-logo {
    padding-top: 10px;
    max-height: 55px;
  }

  // Header - Phone
  ul#mobile-phone { float: none !important; }

  // Header - Navbar
  div.navbar.navbar-inverse.mobile-nav {
    width: 100%;
    padding-top: 15px;
    a.btn.btn-navbar {
      float: left;
      margin-right: 0 !important;
      padding-top: 14px;
    }
  }
  
  // Cart Summary
  ul#mobile-cart-summary { display: none; }

  // Links - Container
  ul#mobile-login { padding: 8px 0 !important; }

  // Account - Sign In
  li#top-signin, li.hidden-desktop {
    float: left;
    a {
      display: block;
      img.sign-in-arrow { display: none; }
      span#account-icon,
      span#signin-icon {
        display: block;
        float: left;
        margin-right: 5px;
        img { width: 20px; }
      }
    }
  }

  // View Cart - Logged In
  li.hidden-desktop {
    float: left;
    padding-right: 0 !important;
    img { display: none; }
    a {
      float: left;
      span#account-icon,
      span#mobile-cart-icon,
      span#mobile-cart-link {
        display: block;
        float: left;
        margin-right: 5px;
        img { 
          display: block;
          width: 20px;
        }
      }
      &:first-of-type { margin-right: 15px; }
    }
  }

  // View Cart 
  li#top-checkout {
    float: left;
    img { display: none; }
    span#mobile-cart-icon {
      display: block;
      float: left;
      margin-right: 5px;
      img { 
        display: block;
        width: 20px;
      }
    }
    span#mobile-cart-link {
      display: block;
      float: right;
    }
  }

  .bx-wrapper .bx-controls-auto {
    display: none;
  }
  .facet-header {
    padding-right:18px;
    .pagination {
      float: left !important;
      margin-left: 18px;
    }
    .narrow-by-btn {
      margin-top:8px;

    }
  }
  footer#site-footer {
    div.container {
      #site-footer-inner-box {
        border: none;
        width: 100%;

        div.footer-2 {
          background: none;

          #footer-additional-links {
            background: none;
          }

          ul.visible-phone {
            background-color: @light-gray;
          }
        }

        div.footer-3 {
          padding: 10px 0px;

          div.copyright-info {
            text-align: center;
          }
        }
      }
    }
  }

  .freeshipping,
  .onsale {
    width: 90px;
    height: 90px;
  }

  div#content #facet-browse #facet-browse-inner-box #faceted-navigation .facet-clear-all {
    color: white;
    font-weight: bold;
  }

  .facet-header {
    .item-listing-sorting {
      label {
        margin: 10px;
      }
      .sort-selector-label {
        display: block;
        font-weight: bold;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 350px) {
  header#site-header div#site-header-container #site-header-inner-box .site-branding .mobile-logo h2 {
    font-size: 18px;
    width: 150px;
  }
}

@media (max-width: 322px) {
  header#site-header {
    div#site-header-container {
      #site-header-inner-box {
        padding: 0;
      }
    }
  }
}
