div.checkout-content {
  background-color: white;
  font-size: 14px;

  & > div {
    margin: auto;
    width: 90%;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: @font-dark-red;
      font-weight: bold;
    }

    a {
      color: @font-dark-red;
      text-decoration: none;
    }

    form {
      label.control-label {
        font-size: 14px;
      }
    }
  }

  #login-register {
    #login-view {
      padding-left: 0px;
    }
  }
}

form {
  div.control-group label.control-label {
    font-weight: bold;
  }
}
