div.order-wizard-layout {

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 17px;
  }

  h4 {
    font-size: 16px;
  }

  header.order-wizard-layout-header {

    ul.wizard-step-groups {

      li.wizard-step-link a {
        color: @dark-gray;
      }

      li.wizard-step-link.active a {
        color: @font-dark-red;
      }
    }
  }

  div#wizard-content {
    header.page-header {
      margin: 20px 0;
      padding: 0;
    }

    div#wizard-step-content {
      article.module-rendered {
        margin: 20px auto;

        .control-label {
          font-size: 12px;
          margin-bottom: 0px;
        }

        fieldset,
        legend {
          font-size: 14px;
          line-height: 1em;
        }

        input,
        textarea,
        select {
          font-size: 12px;
          line-height: 1em;
          margin-bottom: 0px;
          padding: 2px 6px;
        }
      }
    }

    article.orderwizard-module-address-shipping {
      div#address-module-list-placeholder {
        & > div.row-fluid {
          margin-top: 10px;

          article.address {
            div.row-fluid {
              margin-bottom: 10px;

              a.btn-wine-red {
                padding: 10px 10px !important;
              }
            }
          }
        }
      }
    }

    article.orderwizard-module-paymentmethod-selector {
      div#creditcard-module-list-placeholder {
        & > div.row-fluid {
          margin-top: 10px;

          article.creditcard {
            div.row-fluid {
              margin-bottom: 10px;

              a.btn-wine-red {
                padding: 10px 10px !important;
              }
            }
          }
        }
      }
    }

    article.orderwizard-module-showshipments {
      div.shipments-cart-details-body {
        max-height: 400px;
        overflow: auto;

        article.cart-item-cell {
          margin: 20px 10px;
        }
      }
    }

  }

  div#order-summary {
    margin-top: 20px;

    div.checkout-cart-summary-body {

      ul.checkout-summary-items {
        list-style: none;
        margin-left: 0;
        max-height: 300px;

        li.checkout-summary-item-cell {
          border: none;
          margin: 15px 10px;
        }
      }

    }

    footer.checkout-cart-summary-footer {
      margin-top: 20px;
    }

  }

}
