.item-detailed-page {
	border: 1px solid #E5E5E5;
}
.item-detailed-info {
	margin-top: -1px;
	margin-right: -1px;
	.well-body {
		padding: 14px 12px 12px;
		border-top: 1px solid white; 
		border-bottom: 1px solid @mainBorderColor;
	}
	.page-header {
		margin: 0;
		padding: 14px;
		h1 {
			color: black;
			text-transform: none;
			font-size: 30px;
			padding-bottom: 16px; 
			margin-top: 0; 
		}
		.lead {
			margin-bottom: 4px;
		}
		.lead-price {
			color: @darkOrange;
		}
		.pull-right { //SKU
			font-size: 14px;
		}
	}
	.well-footer {
		padding-top: 16px;
		padding-bottom: 16px;
		border-top: 1px solid white; 
	}
	.add-to-cart-btn {
		text-transform: uppercase;
		.icon-shopping-cart {
			margin-top: 6px; 
		}
	}
}

.item-detailed-page {
	margin-bottom: 20px;
}

.modal-product-detail h3 {
	text-transform: none;
}
